{
  "openapi": "3.1.0",
  "info": {
    "title": "KPost Admin API",
    "version": "live",
    "description": "KPost Admin module API — organisation / workplace / HR / role / employee setup.\n\nGENERATED from the live service OpenAPI (https://adminmodule.kpostindia.com/v3/api-docs) by scripts/fetch-admin-contract.cjs — do not edit by hand. $refs are inlined. Refresh with `npm run contract:admin`."
  },
  "servers": [
    {
      "url": "https://adminmodule.kpostindia.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/workplaceHierarchy/update": {
      "post": {
        "operationId": "updateWorkPlaceHierarchy",
        "summary": "POST /workplaceHierarchy/update",
        "tags": [
          "work-place-hierarchy-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "attributeId": {
                    "type": "string"
                  },
                  "variableId": {
                    "type": "string"
                  },
                  "parentAttributeId": {
                    "type": "string"
                  },
                  "parentVariableId": {
                    "type": "string"
                  },
                  "reportingAttributeId": {
                    "type": "string"
                  },
                  "reportingVariableId": {
                    "type": "string"
                  },
                  "reportingParentAttributeId": {
                    "type": "string"
                  },
                  "reportingParentVariableId": {
                    "type": "string"
                  },
                  "workplaceJson": {
                    "type": "string"
                  },
                  "reportingJson": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workplaceHierarchy/save": {
      "post": {
        "operationId": "saveVariable",
        "summary": "POST /workplaceHierarchy/save",
        "tags": [
          "work-place-hierarchy-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "attributeId": {
                    "type": "string"
                  },
                  "variableId": {
                    "type": "string"
                  },
                  "parentAttributeId": {
                    "type": "string"
                  },
                  "parentVariableId": {
                    "type": "string"
                  },
                  "reportingAttributeId": {
                    "type": "string"
                  },
                  "reportingVariableId": {
                    "type": "string"
                  },
                  "reportingParentAttributeId": {
                    "type": "string"
                  },
                  "reportingParentVariableId": {
                    "type": "string"
                  },
                  "workplaceJson": {
                    "type": "string"
                  },
                  "reportingJson": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workplaceHierarchy/getWorkPlaceHierarchy": {
      "post": {
        "operationId": "getWorkplaceHierarchy",
        "summary": "POST /workplaceHierarchy/getWorkPlaceHierarchy",
        "tags": [
          "work-place-hierarchy-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workplaceHierarchy/delete": {
      "post": {
        "operationId": "deleteWorkPlaceHierarchy",
        "summary": "POST /workplaceHierarchy/delete",
        "tags": [
          "work-place-hierarchy-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "attributeId": {
                    "type": "string"
                  },
                  "variableId": {
                    "type": "string"
                  },
                  "parentAttributeId": {
                    "type": "string"
                  },
                  "parentVariableId": {
                    "type": "string"
                  },
                  "reportingAttributeId": {
                    "type": "string"
                  },
                  "reportingVariableId": {
                    "type": "string"
                  },
                  "reportingParentAttributeId": {
                    "type": "string"
                  },
                  "reportingParentVariableId": {
                    "type": "string"
                  },
                  "workplaceJson": {
                    "type": "string"
                  },
                  "reportingJson": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/variable/update": {
      "post": {
        "operationId": "updateVariable",
        "summary": "POST /variable/update",
        "tags": [
          "variable-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "attributeId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "variableName": {
                    "type": "string"
                  },
                  "parentVariableId": {
                    "type": "string"
                  },
                  "parentAttributeId": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/variable/save": {
      "post": {
        "operationId": "saveVariable_1",
        "summary": "POST /variable/save",
        "tags": [
          "variable-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "attributeId": {
                      "type": "string"
                    },
                    "companyId": {
                      "type": "string"
                    },
                    "variableName": {
                      "type": "string"
                    },
                    "parentVariableId": {
                      "type": "string"
                    },
                    "parentAttributeId": {
                      "type": "string"
                    },
                    "abbreviation": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/variable/getVariable": {
      "post": {
        "operationId": "getVariable",
        "summary": "POST /variable/getVariable",
        "tags": [
          "variable-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "attributeId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "variableName": {
                    "type": "string"
                  },
                  "parentVariableId": {
                    "type": "string"
                  },
                  "parentAttributeId": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/variable/delete": {
      "post": {
        "operationId": "deleteVariable",
        "summary": "POST /variable/delete",
        "tags": [
          "variable-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "attributeId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "variableName": {
                    "type": "string"
                  },
                  "parentVariableId": {
                    "type": "string"
                  },
                  "parentAttributeId": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/userDetails/validateOTP": {
      "post": {
        "operationId": "validateOTP",
        "summary": "POST /userDetails/validateOTP",
        "tags": [
          "user-details-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "dialCode": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "mobileNumber": {
                    "type": "string"
                  },
                  "otp": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "sendDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "expireDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "otpValidationStatus": {
                    "type": "string"
                  },
                  "otpExpireStatus": {
                    "type": "string"
                  },
                  "createdBy": {
                    "type": "string"
                  },
                  "createdDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "userID": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/userDetails/update": {
      "post": {
        "operationId": "updateDepartment",
        "summary": "POST /userDetails/update",
        "tags": [
          "user-details-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "userID": {
                    "type": "string"
                  },
                  "variableIds": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object"
                      }
                    }
                  },
                  "reportingVariableIds": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object"
                      }
                    }
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "mobileNumber": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/userDetails/signUp": {
      "post": {
        "operationId": "signUp",
        "summary": "POST /userDetails/signUp",
        "tags": [
          "user-details-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "userName": {
                    "type": "string"
                  },
                  "mobileNumber": {
                    "type": "string"
                  },
                  "emailID": {
                    "type": "string"
                  },
                  "userID": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "createdDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "requestType": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/userDetails/sendOTP": {
      "post": {
        "operationId": "sendOTP",
        "summary": "POST /userDetails/sendOTP",
        "tags": [
          "user-details-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dialCode": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "mobileNumber": {
                    "type": "string"
                  },
                  "requestType": {
                    "type": "string"
                  },
                  "userID": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/userDetails/save": {
      "post": {
        "operationId": "saveUser",
        "summary": "POST /userDetails/save",
        "tags": [
          "user-details-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "userID": {
                    "type": "string"
                  },
                  "variableIds": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object"
                      }
                    }
                  },
                  "reportingVariableIds": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object"
                      }
                    }
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "mobileNumber": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/userDetails/resetPassword": {
      "post": {
        "operationId": "resetPassword",
        "summary": "POST /userDetails/resetPassword",
        "tags": [
          "user-details-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "userName": {
                    "type": "string"
                  },
                  "mobileNumber": {
                    "type": "string"
                  },
                  "emailID": {
                    "type": "string"
                  },
                  "userID": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "createdDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "requestType": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/userDetails/registration": {
      "post": {
        "operationId": "userRegistration",
        "summary": "POST /userDetails/registration",
        "tags": [
          "user-details-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "typeOfOrganization": {
                    "type": "string"
                  },
                  "organizationName": {
                    "type": "string"
                  },
                  "userID": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "userName": {
                    "type": "string"
                  },
                  "userDesignation": {
                    "type": "string"
                  },
                  "contactNumber": {
                    "type": "string"
                  },
                  "contactEmailID": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "pincode": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "area": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "noOfEmployee": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "noOfUserLicenses": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "logo": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/userDetails/login": {
      "post": {
        "operationId": "login",
        "summary": "POST /userDetails/login",
        "tags": [
          "user-details-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "userName": {
                    "type": "string"
                  },
                  "mobileNumber": {
                    "type": "string"
                  },
                  "emailID": {
                    "type": "string"
                  },
                  "userID": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "createdDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "requestType": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/userDetails/generateUserIdSuggestions": {
      "post": {
        "operationId": "generateUserIdSuggestions",
        "summary": "POST /userDetails/generateUserIdSuggestions",
        "tags": [
          "user-details-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "userName": {
                    "type": "string"
                  },
                  "mobileNumber": {
                    "type": "string"
                  },
                  "emailID": {
                    "type": "string"
                  },
                  "userID": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "createdDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "requestType": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/userDetails/createCommunicationId": {
      "post": {
        "operationId": "createCommunicationId",
        "summary": "POST /userDetails/createCommunicationId",
        "tags": [
          "user-details-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "department": {
                    "type": "string"
                  },
                  "designation": {
                    "type": "string"
                  },
                  "role": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/userDetails/checkAvailability": {
      "post": {
        "operationId": "checkAvailability",
        "summary": "POST /userDetails/checkAvailability",
        "tags": [
          "user-details-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string"
                  },
                  "userName": {
                    "type": "string"
                  },
                  "mobileNumber": {
                    "type": "string"
                  },
                  "emailID": {
                    "type": "string"
                  },
                  "userID": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "createdDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "requestType": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rolePosting/update": {
      "post": {
        "operationId": "update",
        "summary": "POST /rolePosting/update",
        "tags": [
          "role-posting-set-up-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "employeeId": {
                    "type": "string"
                  },
                  "rolePostingId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rolePosting/suspendOrTerminateEmployee": {
      "post": {
        "operationId": "suspendOrTerminateEmployee",
        "summary": "POST /rolePosting/suspendOrTerminateEmployee",
        "tags": [
          "role-posting-set-up-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "employeeId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "requestType": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rolePosting/softDelete": {
      "post": {
        "operationId": "softDelete",
        "summary": "POST /rolePosting/softDelete",
        "tags": [
          "role-posting-set-up-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "lastWorkplaceTierId": {
                    "type": "string"
                  },
                  "lastWorkplaceVariableId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "employeeId": {
                    "type": "string"
                  },
                  "workplaceJson": {
                    "type": "string"
                  },
                  "workplaceLocationId": {
                    "type": "string"
                  },
                  "lastHrTierId": {
                    "type": "string"
                  },
                  "lastHrVariableId": {
                    "type": "string"
                  },
                  "hrJson": {
                    "type": "string"
                  },
                  "reportingWorkplaceJson": {
                    "type": "string"
                  },
                  "reportingHrJson": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "countryId": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "kpostID": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "activeStatus": {
                    "type": "boolean"
                  },
                  "reason": {
                    "type": "string"
                  },
                  "remarks": {
                    "type": "string"
                  },
                  "duration": {
                    "type": "string"
                  },
                  "rejoiningDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ksmaccID": {
                    "type": "string"
                  },
                  "ksmaccCompanyID": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "ksmaccDisplayName": {
                    "type": "string"
                  },
                  "locationName": {
                    "type": "string"
                  },
                  "workplaceLocationJson": {
                    "type": "string"
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "userType": {
                    "type": "string"
                  },
                  "requestType": {
                    "type": "string"
                  },
                  "employeeDetails": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "companyId": {
                        "type": "string"
                      },
                      "personalInformationObj": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "dob": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "maritalStatus": {
                            "type": "string"
                          },
                          "landline": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "alternativeMobileNo": {
                            "type": "string"
                          },
                          "emailAddress": {
                            "type": "string"
                          },
                          "alternativeEmailAddress": {
                            "type": "string"
                          },
                          "nationality": {
                            "type": "string"
                          },
                          "disability": {
                            "type": "boolean"
                          },
                          "typeOfDisability": {
                            "type": "string"
                          },
                          "attachment": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "residentialObj": {
                        "type": "object",
                        "properties": {
                          "residentialCountry": {
                            "type": "string"
                          },
                          "residentialZipCode": {
                            "type": "string"
                          },
                          "residentialState": {
                            "type": "string"
                          },
                          "residentialCity": {
                            "type": "string"
                          },
                          "residentialArea": {
                            "type": "string"
                          },
                          "residentialAddressLine1": {
                            "type": "string"
                          },
                          "residentialAddressLine2": {
                            "type": "string"
                          }
                        }
                      },
                      "mailingObj": {
                        "type": "object",
                        "properties": {
                          "mailingCountry": {
                            "type": "string"
                          },
                          "mailingZipCode": {
                            "type": "string"
                          },
                          "mailingState": {
                            "type": "string"
                          },
                          "mailingCity": {
                            "type": "string"
                          },
                          "mailingArea": {
                            "type": "string"
                          },
                          "mailingAddressLine1": {
                            "type": "string"
                          },
                          "mailingAddressLine2": {
                            "type": "string"
                          }
                        }
                      },
                      "employmentObj": {
                        "type": "object",
                        "properties": {
                          "employeeId": {
                            "type": "string"
                          },
                          "hrJson": {
                            "type": "string"
                          },
                          "reportingHrJson": {
                            "type": "string"
                          },
                          "designatedReportingPerson": {
                            "type": "string"
                          },
                          "employmentStatus": {
                            "type": "string"
                          },
                          "dateOfJoining": {
                            "type": "string"
                          }
                        }
                      },
                      "educationObj": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qualification": {
                              "type": "string"
                            },
                            "instituteName": {
                              "type": "string"
                            },
                            "percentage": {
                              "type": "string"
                            },
                            "yearOfGraduation": {
                              "type": "string"
                            },
                            "attachment": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "workExpObj": {
                        "type": "object",
                        "properties": {
                          "isExperienced": {
                            "type": "string"
                          },
                          "totalExp": {
                            "type": "string"
                          },
                          "experienceDetails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "company": {
                                  "type": "string"
                                },
                                "jobTitle": {
                                  "type": "string"
                                },
                                "fromDate": {
                                  "type": "string"
                                },
                                "toDate": {
                                  "type": "string"
                                },
                                "employmentStatus": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "additionalObj": {
                        "type": "object",
                        "properties": {
                          "nationality": {
                            "type": "string"
                          },
                          "citizenship": {
                            "type": "string"
                          },
                          "panCard": {
                            "type": "string"
                          }
                        }
                      },
                      "promotionDetails": {
                        "type": "string"
                      },
                      "transferDetails": {
                        "type": "string"
                      },
                      "locationName": {
                        "type": "string"
                      }
                    }
                  },
                  "isPromoted": {
                    "type": "boolean"
                  },
                  "isTransfered": {
                    "type": "boolean"
                  },
                  "promotionDetails": {
                    "type": "string"
                  },
                  "transferDetails": {
                    "type": "string"
                  },
                  "isKpostIDRequired": {
                    "type": "boolean"
                  },
                  "isMapped": {
                    "type": "boolean"
                  },
                  "isHoldOrRelease": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rolePosting/save": {
      "post": {
        "operationId": "save",
        "summary": "POST /rolePosting/save",
        "tags": [
          "role-posting-set-up-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string"
                  },
                  "employeeId": {
                    "type": "string"
                  },
                  "hrVariableId": {
                    "type": "string"
                  },
                  "locationId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rolePosting/getSuspendOrTerminateEmployee": {
      "post": {
        "operationId": "getSuspendOrTerminateEmployee",
        "summary": "POST /rolePosting/getSuspendOrTerminateEmployee",
        "tags": [
          "role-posting-set-up-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string"
                  },
                  "requestType": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rolePosting/getRolePostingById": {
      "post": {
        "operationId": "getRolePostingById",
        "summary": "POST /rolePosting/getRolePostingById",
        "tags": [
          "role-posting-set-up-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "lastWorkplaceTierId": {
                    "type": "string"
                  },
                  "lastWorkplaceVariableId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "employeeId": {
                    "type": "string"
                  },
                  "workplaceJson": {
                    "type": "string"
                  },
                  "workplaceLocationId": {
                    "type": "string"
                  },
                  "lastHrTierId": {
                    "type": "string"
                  },
                  "lastHrVariableId": {
                    "type": "string"
                  },
                  "hrJson": {
                    "type": "string"
                  },
                  "reportingWorkplaceJson": {
                    "type": "string"
                  },
                  "reportingHrJson": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "countryId": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "kpostID": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "activeStatus": {
                    "type": "boolean"
                  },
                  "reason": {
                    "type": "string"
                  },
                  "remarks": {
                    "type": "string"
                  },
                  "duration": {
                    "type": "string"
                  },
                  "rejoiningDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ksmaccID": {
                    "type": "string"
                  },
                  "ksmaccCompanyID": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "ksmaccDisplayName": {
                    "type": "string"
                  },
                  "locationName": {
                    "type": "string"
                  },
                  "workplaceLocationJson": {
                    "type": "string"
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "userType": {
                    "type": "string"
                  },
                  "requestType": {
                    "type": "string"
                  },
                  "employeeDetails": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "companyId": {
                        "type": "string"
                      },
                      "personalInformationObj": {
                        "type": "object",
                        "properties": {
                          "firstName": {
                            "type": "string"
                          },
                          "lastName": {
                            "type": "string"
                          },
                          "dob": {
                            "type": "string"
                          },
                          "gender": {
                            "type": "string"
                          },
                          "maritalStatus": {
                            "type": "string"
                          },
                          "landline": {
                            "type": "string"
                          },
                          "mobile": {
                            "type": "string"
                          },
                          "alternativeMobileNo": {
                            "type": "string"
                          },
                          "emailAddress": {
                            "type": "string"
                          },
                          "alternativeEmailAddress": {
                            "type": "string"
                          },
                          "nationality": {
                            "type": "string"
                          },
                          "disability": {
                            "type": "boolean"
                          },
                          "typeOfDisability": {
                            "type": "string"
                          },
                          "attachment": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "residentialObj": {
                        "type": "object",
                        "properties": {
                          "residentialCountry": {
                            "type": "string"
                          },
                          "residentialZipCode": {
                            "type": "string"
                          },
                          "residentialState": {
                            "type": "string"
                          },
                          "residentialCity": {
                            "type": "string"
                          },
                          "residentialArea": {
                            "type": "string"
                          },
                          "residentialAddressLine1": {
                            "type": "string"
                          },
                          "residentialAddressLine2": {
                            "type": "string"
                          }
                        }
                      },
                      "mailingObj": {
                        "type": "object",
                        "properties": {
                          "mailingCountry": {
                            "type": "string"
                          },
                          "mailingZipCode": {
                            "type": "string"
                          },
                          "mailingState": {
                            "type": "string"
                          },
                          "mailingCity": {
                            "type": "string"
                          },
                          "mailingArea": {
                            "type": "string"
                          },
                          "mailingAddressLine1": {
                            "type": "string"
                          },
                          "mailingAddressLine2": {
                            "type": "string"
                          }
                        }
                      },
                      "employmentObj": {
                        "type": "object",
                        "properties": {
                          "employeeId": {
                            "type": "string"
                          },
                          "hrJson": {
                            "type": "string"
                          },
                          "reportingHrJson": {
                            "type": "string"
                          },
                          "designatedReportingPerson": {
                            "type": "string"
                          },
                          "employmentStatus": {
                            "type": "string"
                          },
                          "dateOfJoining": {
                            "type": "string"
                          }
                        }
                      },
                      "educationObj": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "qualification": {
                              "type": "string"
                            },
                            "instituteName": {
                              "type": "string"
                            },
                            "percentage": {
                              "type": "string"
                            },
                            "yearOfGraduation": {
                              "type": "string"
                            },
                            "attachment": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      },
                      "workExpObj": {
                        "type": "object",
                        "properties": {
                          "isExperienced": {
                            "type": "string"
                          },
                          "totalExp": {
                            "type": "string"
                          },
                          "experienceDetails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "company": {
                                  "type": "string"
                                },
                                "jobTitle": {
                                  "type": "string"
                                },
                                "fromDate": {
                                  "type": "string"
                                },
                                "toDate": {
                                  "type": "string"
                                },
                                "employmentStatus": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      },
                      "additionalObj": {
                        "type": "object",
                        "properties": {
                          "nationality": {
                            "type": "string"
                          },
                          "citizenship": {
                            "type": "string"
                          },
                          "panCard": {
                            "type": "string"
                          }
                        }
                      },
                      "promotionDetails": {
                        "type": "string"
                      },
                      "transferDetails": {
                        "type": "string"
                      },
                      "locationName": {
                        "type": "string"
                      }
                    }
                  },
                  "isPromoted": {
                    "type": "boolean"
                  },
                  "isTransfered": {
                    "type": "boolean"
                  },
                  "promotionDetails": {
                    "type": "string"
                  },
                  "transferDetails": {
                    "type": "string"
                  },
                  "isKpostIDRequired": {
                    "type": "boolean"
                  },
                  "isMapped": {
                    "type": "boolean"
                  },
                  "isHoldOrRelease": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rolePosting/getRolePostingByCompanyId": {
      "post": {
        "operationId": "getRolePostingByCompanyId",
        "summary": "POST /rolePosting/getRolePostingByCompanyId",
        "tags": [
          "role-posting-set-up-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rolePosting/getRolePostingByCompanyIdAndEmployeeId": {
      "post": {
        "operationId": "getRolePostingByCompanyIdAndEmployeeId",
        "summary": "POST /rolePosting/getRolePostingByCompanyIdAndEmployeeId",
        "tags": [
          "role-posting-set-up-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string"
                  },
                  "employeeId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rolePosting/getEmployeeDetailsByLastHrvariableId": {
      "post": {
        "operationId": "getEmployeeDetailsByLastHrvariableId",
        "summary": "POST /rolePosting/getEmployeeDetailsByLastHrvariableId",
        "tags": [
          "role-posting-set-up-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "adminKsmaccID": {
                    "type": "string"
                  },
                  "rolePostingId": {
                    "type": "string"
                  },
                  "lastWorkplaceTierId": {
                    "type": "string"
                  },
                  "lastWorkplaceVariableId": {
                    "type": "string"
                  },
                  "workplaceJson": {
                    "type": "string"
                  },
                  "workplaceLocationId": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "workplaceLocaID": {
                    "type": "string"
                  },
                  "lastHrTierId": {
                    "type": "string"
                  },
                  "lastHrVariableId": {
                    "type": "string"
                  },
                  "hrJson": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "reportingWorkplaceJson": {
                    "type": "string"
                  },
                  "reportingHrJson": {
                    "type": "string"
                  },
                  "employeeId": {
                    "type": "string"
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "countryId": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "userType": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string"
                  },
                  "remarks": {
                    "type": "string"
                  },
                  "requestType": {
                    "type": "string"
                  },
                  "duration": {
                    "type": "string"
                  },
                  "kpostID": {
                    "type": "string"
                  },
                  "rejoiningDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ksmaccDisplayName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rolePosting/getEmployeeByCompanyId": {
      "post": {
        "operationId": "getEmployeeByCompanyId",
        "summary": "POST /rolePosting/getEmployeeByCompanyId",
        "tags": [
          "role-posting-set-up-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rolePosting/getAssignedRolePostingEmployeeByCompanyId": {
      "post": {
        "operationId": "getAssignedRolePostingEmployeeByCompanyId",
        "summary": "POST /rolePosting/getAssignedRolePostingEmployeeByCompanyId",
        "tags": [
          "role-posting-set-up-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "adminKsmaccID": {
                    "type": "string"
                  },
                  "rolePostingId": {
                    "type": "string"
                  },
                  "lastWorkplaceTierId": {
                    "type": "string"
                  },
                  "lastWorkplaceVariableId": {
                    "type": "string"
                  },
                  "workplaceJson": {
                    "type": "string"
                  },
                  "workplaceLocationId": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "workplaceLocaID": {
                    "type": "string"
                  },
                  "lastHrTierId": {
                    "type": "string"
                  },
                  "lastHrVariableId": {
                    "type": "string"
                  },
                  "hrJson": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "reportingWorkplaceJson": {
                    "type": "string"
                  },
                  "reportingHrJson": {
                    "type": "string"
                  },
                  "employeeId": {
                    "type": "string"
                  },
                  "companyName": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "countryId": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "userType": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string"
                  },
                  "remarks": {
                    "type": "string"
                  },
                  "requestType": {
                    "type": "string"
                  },
                  "duration": {
                    "type": "string"
                  },
                  "kpostID": {
                    "type": "string"
                  },
                  "rejoiningDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "ksmaccDisplayName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rolePosting/delete": {
      "post": {
        "operationId": "delete",
        "summary": "POST /rolePosting/delete",
        "tags": [
          "role-posting-set-up-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/saveAllProject": {
      "post": {
        "operationId": "saveAllProject",
        "summary": "POST /project/saveAllProject",
        "tags": [
          "project-details-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "abbreviation": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/productPurchase/save": {
      "post": {
        "operationId": "saveProductList",
        "summary": "POST /productPurchase/save",
        "tags": [
          "product-purchase-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "productId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "productType": {
                    "type": "string"
                  },
                  "subscriptionType": {
                    "type": "string"
                  },
                  "subscriptionDate": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "endDate": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/productMaster/save": {
      "post": {
        "operationId": "saveProductList_1",
        "summary": "POST /productMaster/save",
        "tags": [
          "product-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "productName": {
                      "type": "string"
                    },
                    "productCode": {
                      "type": "string"
                    },
                    "productDescription": {
                      "type": "string"
                    },
                    "productLogo": {
                      "type": "string"
                    },
                    "isPurchased": {
                      "type": "boolean"
                    },
                    "productPurchase": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "productId": {
                          "type": "string"
                        },
                        "companyId": {
                          "type": "string"
                        },
                        "productType": {
                          "type": "string"
                        },
                        "subscriptionType": {
                          "type": "string"
                        },
                        "subscriptionDate": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "endDate": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/productEmployeeMapping/save": {
      "post": {
        "operationId": "saveProductEmployeeMapping",
        "summary": "POST /productEmployeeMapping/save",
        "tags": [
          "product-employee-mapping-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "employeeId": {
                      "type": "string"
                    },
                    "productId": {
                      "type": "string"
                    },
                    "companyId": {
                      "type": "string"
                    },
                    "rolePostingId": {
                      "type": "string"
                    },
                    "kpostId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/productEmployeeMapping/saveKpostIdForKams": {
      "post": {
        "operationId": "saveKpostIdForKams",
        "summary": "POST /productEmployeeMapping/saveKpostIdForKams",
        "tags": [
          "product-employee-mapping-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "employeeId": {
                    "type": "string"
                  },
                  "productId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "rolePostingId": {
                    "type": "string"
                  },
                  "kpostId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/productEmployeeMapping/getMappedEmployeeByCompanyIdAndProductId": {
      "post": {
        "operationId": "getMappedEmployeeByCompanyIdAndProductId",
        "summary": "POST /productEmployeeMapping/getMappedEmployeeByCompanyIdAndProductId",
        "tags": [
          "product-employee-mapping-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "employeeId": {
                    "type": "string"
                  },
                  "productId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "rolePostingId": {
                    "type": "string"
                  },
                  "kpostId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/productEmployeeMapping/getKpostIDsByCompanyIdAndProductId": {
      "post": {
        "operationId": "getKpostIDsByCompanyIdAndProductId",
        "summary": "POST /productEmployeeMapping/getKpostIDsByCompanyIdAndProductId",
        "tags": [
          "product-employee-mapping-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "employeeId": {
                    "type": "string"
                  },
                  "productId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "rolePostingId": {
                    "type": "string"
                  },
                  "kpostId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/location/update": {
      "post": {
        "operationId": "updateVariable_1",
        "summary": "POST /location/update",
        "tags": [
          "location-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "locationName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/location/save": {
      "post": {
        "operationId": "saveVariable_2",
        "summary": "POST /location/save",
        "tags": [
          "location-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "companyId": {
                      "type": "string"
                    },
                    "locationName": {
                      "type": "string"
                    },
                    "addressLine1": {
                      "type": "string"
                    },
                    "pincode": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/location/getReportingLocationName": {
      "post": {
        "operationId": "getReportingLocationName",
        "summary": "POST /location/getReportingLocationName",
        "tags": [
          "location-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "attributeId": {
                    "type": "string"
                  },
                  "variableId": {
                    "type": "string"
                  },
                  "workPlaceLocation": {
                    "type": "string"
                  },
                  "reportingWorkplaceLocation": {
                    "type": "string"
                  },
                  "reportingWorkplaceLocationId": {
                    "type": "string"
                  },
                  "locationName": {
                    "type": "string"
                  },
                  "pincode": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "area": {
                    "type": "string"
                  },
                  "addressLine1": {
                    "type": "string"
                  },
                  "addressLine2": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "countryId": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "countryName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/location/getLocation": {
      "post": {
        "operationId": "getLocation",
        "summary": "POST /location/getLocation",
        "tags": [
          "location-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string"
                  },
                  "attributeId": {
                    "type": "string"
                  },
                  "variableId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/location/getLocationById": {
      "post": {
        "operationId": "getLocationById",
        "summary": "POST /location/getLocationById",
        "tags": [
          "location-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/location/getAllLocation": {
      "post": {
        "operationId": "getAllLocation",
        "summary": "POST /location/getAllLocation",
        "tags": [
          "location-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/location/delete": {
      "post": {
        "operationId": "deleteVariable_1",
        "summary": "POST /location/delete",
        "tags": [
          "location-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hrVariable/update": {
      "post": {
        "operationId": "updateVariable_2",
        "summary": "POST /hrVariable/update",
        "tags": [
          "hr-variable-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "attributeId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "variableName": {
                    "type": "string"
                  },
                  "parentVariableId": {
                    "type": "string"
                  },
                  "parentAttributeId": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hrVariable/save": {
      "post": {
        "operationId": "saveVariable_3",
        "summary": "POST /hrVariable/save",
        "tags": [
          "hr-variable-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "attributeId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "variableName": {
                    "type": "string"
                  },
                  "parentVariableId": {
                    "type": "string"
                  },
                  "parentAttributeId": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hrVariable/getVariable": {
      "post": {
        "operationId": "getVariable_1",
        "summary": "POST /hrVariable/getVariable",
        "tags": [
          "hr-variable-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "attributeId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "variableName": {
                    "type": "string"
                  },
                  "parentVariableId": {
                    "type": "string"
                  },
                  "parentAttributeId": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hrVariable/delete": {
      "post": {
        "operationId": "deleteVariable_2",
        "summary": "POST /hrVariable/delete",
        "tags": [
          "hr-variable-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "attributeId": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "variableName": {
                    "type": "string"
                  },
                  "parentVariableId": {
                    "type": "string"
                  },
                  "parentAttributeId": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hrTier/update": {
      "post": {
        "operationId": "updateAttribute",
        "summary": "POST /hrTier/update",
        "tags": [
          "hr-tier-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "attributeName": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hrTier/save": {
      "post": {
        "operationId": "saveAttribute",
        "summary": "POST /hrTier/save",
        "tags": [
          "hr-tier-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "companyId": {
                      "type": "string"
                    },
                    "attributeName": {
                      "type": "string"
                    },
                    "abbreviation": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hrTier/getAttribute": {
      "post": {
        "operationId": "getAttribute",
        "summary": "POST /hrTier/getAttribute",
        "tags": [
          "hr-tier-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "attributeName": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hrTier/getAttributeByCompanyId": {
      "post": {
        "operationId": "getAttributeByCompanyId",
        "summary": "POST /hrTier/getAttributeByCompanyId",
        "tags": [
          "hr-tier-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "attributeName": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hrTier/delete": {
      "post": {
        "operationId": "deleteAttribute",
        "summary": "POST /hrTier/delete",
        "tags": [
          "hr-tier-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "attributeName": {
                    "type": "string"
                  },
                  "abbreviation": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hrSetUpTierVariable/update": {
      "post": {
        "operationId": "updateAdminTierVariable",
        "summary": "POST /hrSetUpTierVariable/update",
        "tags": [
          "hr-set-up-tier-variable-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "companyId": {
                    "type": "string"
                  },
                  "attributeId": {
                    "type": "string"
                  },
                  "variableName": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hrSetUpTierVariable/save": {
      "post": {
        "operationId": "saveAdminTierVariable",
        "summary": "POST /hrSetUpTierVariable/save",
        "tags": [
          "hr-set-up-tier-variable-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "companyId": {
                      "type": "string"
                    },
                    "attributeId": {
                      "type": "string"
                    },
                    "variableName": {
                      "type": "string"
                    },
                    "parentVariableId": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hrSetUpTierVariable/getHrSetUpTierVariable": {
      "post": {
        "operationId": "getAdminTierVariable",
        "summary": "POST /hrSetUpTierVariable/getHrSetUpTierVariable",
        "tags": [
          "hr-set-up-tier-variable-controller"
        ],
        "x-method-source": "live-openapi",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyId": {
                    "type": "string"
                  },
                  "parentVariableId": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hrSetUpTierVariable/getAllReportingHrTierVariableHierarchy": {
      "post": {
        "operationId": "getAllReportingHrTierVariableHierarchy",
        "summary": "POST /hrSetUpTierVariable/getAllReportingHrTierVariableHierarchy",
        "tags": [
          "hr-set-up-tier-variable-controller"
        ],
        "x-method-source": "live-openapi",
[...]
