{
  "openapi": "3.1.0",
  "info": {
    "title": "KMail API",
    "version": "KPOST API (6).xlsx",
    "description": "KMail module API, maintained in its own repository.\n\nGENERATED from \"KPOST API (6).xlsx\" by scripts/excel-to-contract.cjs — do not edit by hand.\nOnly rows with a real path and a known HTTP method are included; superseded (yellow), duplicate and legacy rows are excluded and listed in contracts/_conversion-report.json.\nSchemas are inferred from the documented examples, so no property is marked required, and the workbook documents no status codes or auth requirements."
  },
  "servers": [
    {
      "url": "https://kmail5.kpostindia.com/kmail5/v2"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/common/addOtherDomainContacts/": {
      "post": {
        "operationId": "post-common-addOtherDomainContacts",
        "summary": "POST /common/addOtherDomainContacts/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R32",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "urlPath": "addOtherDomainContacts",
                  "status": "SUCCESS"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contactEmailID": {
                    "type": "string"
                  },
                  "contactName": {
                    "type": "string"
                  },
                  "referenceName": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "contactEmailID": "baskar.nov@gmail.com",
                "contactName": "Baskar",
                "referenceName": "My gmail account"
              }
            }
          }
        }
      }
    },
    "/common/clearStatusOfAllKmailsContacts": {
      "post": {
        "operationId": "post-common-clearStatusOfAllKmailsContacts",
        "summary": "POST /common/clearStatusOfAllKmailsContacts",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R54",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/common/clearStatusOfKmailsContacts/": {
      "post": {
        "operationId": "post-common-clearStatusOfKmailsContacts",
        "summary": "POST /common/clearStatusOfKmailsContacts/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R43",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/common/convertMailAsPDF/": {
      "post": {
        "operationId": "post-common-convertMailAsPDF",
        "summary": "POST /common/convertMailAsPDF/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R19",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/common/deleteKmailWithDeletedBy/": {
      "post": {
        "operationId": "post-common-deleteKmailWithDeletedBy",
        "summary": "POST /common/deleteKmailWithDeletedBy/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R13",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "urlPath": "deleteKmailWithDeletedBy",
                  "status": "SUCCESS"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupFlag": {
                    "type": "boolean"
                  },
                  "transactionIDs": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              },
              "example": {
                "groupFlag": true,
                "transactionIDs": [
                  37094
                ]
              }
            }
          }
        }
      }
    },
    "/common/deleteOtherDomainContact/": {
      "post": {
        "operationId": "post-common-deleteOtherDomainContact",
        "summary": "POST /common/deleteOtherDomainContact/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R39",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contactEmailID": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "contactEmailID": "baskar.nov@gmail.com"
              }
            }
          }
        }
      }
    },
    "/common/editOtherDomainContactsDetails/": {
      "post": {
        "operationId": "post-common-editOtherDomainContactsDetails",
        "summary": "POST /common/editOtherDomainContactsDetails/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R40",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "contactEmailID": {
                    "type": "string"
                  },
                  "contactName": {
                    "type": "string"
                  },
                  "referenceName": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "contactEmailID": "baskar.nov@gmail.com",
                "contactName": "Baskar thambi",
                "referenceName": "gmail account"
              }
            }
          }
        }
      }
    },
    "/common/frequentKmailContact/": {
      "get": {
        "operationId": "get-common-frequentKmailContact",
        "summary": "GET /common/frequentKmailContact/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R16",
        "x-method-source": "request-note",
        "x-method-note": "the request cell states GET and documents no payload, so it overrides the Method column (POST)",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "facDetails": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "contactDisplayName": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "emailID": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "value": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "facDetails": [
                    {
                      "name": "jitendra kumar",
                      "contactDisplayName": "java",
                      "emailID": "jitendra@kpostindia.com"
                    },
                    {
                      "name": "",
                      "contactDisplayName": "",
                      "emailID": "jksrivatsa@yahoo.com"
                    },
                    {
                      "name": "",
                      "contactDisplayName": "",
                      "emailID": "jksrivatsa@gmail.com"
                    }
                  ],
                  "value": [
                    "jitendra@kpostindia.com",
                    "jksrivatsa@yahoo.com",
                    "jksrivatsa@gmail.com"
                  ],
                  "urlPath": "frequentKmailContact",
                  "status": "SUCCESS"
                }
              }
            }
          }
        }
      }
    },
    "/common/getAllImportantMails/": {
      "post": {
        "operationId": "post-common-getAllImportantMails",
        "summary": "POST /common/getAllImportantMails/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R15",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selectedContact": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "selectedContact": "jitendra@kpostindia.com"
              }
            }
          }
        }
      }
    },
    "/common/getAllMailCount": {
      "post": {
        "operationId": "post-common-getAllMailCount",
        "summary": "POST /common/getAllMailCount",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R76",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selectedContact": {
                    "type": "string"
                  },
                  "groupFlag": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "selectedContact": "prakash@kpost.in",
                "groupFlag": false
              }
            }
          }
        }
      }
    },
    "/common/getBulkKmailDashboardMsg": {
      "post": {
        "operationId": "post-common-getBulkKmailDashboardMsg",
        "summary": "POST /common/getBulkKmailDashboardMsg",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R75",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kmailID": {}
                }
              },
              "example": {
                "kmailID": null
              }
            }
          }
        }
      }
    },
    "/common/getInstantReply/": {
      "get": {
        "operationId": "get-common-getInstantReply",
        "summary": "GET /common/getInstantReply/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R36",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "value": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "id": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "instantReply": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "id": 1,
                      "instantReply": "Thanks for your immediate reply"
                    },
                    {
                      "id": 2,
                      "instantReply": "Thanks for your mail"
                    }
                  ],
                  "urlPath": "/getInstantReply/",
                  "status": "SUCCESS"
                }
              }
            }
          }
        }
      }
    },
    "/common/getKmailDashboardMsg/": {
      "post": {
        "operationId": "post-common-getKmailDashboardMsg",
        "summary": "POST /common/getKmailDashboardMsg/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R4",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "letterID": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "value": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "kmailID": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "kmailType": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "kmailSubject": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "kmailSendDate": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "priority": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "mailServerReferenceID": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "referenceKmailID": {},
                          "senderLatitde": {},
                          "senderLongitude": {},
                          "note": {},
                          "attachmentFlag": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "attachmentPath": {},
                          "kmailTransactionList": {
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": [
                                "object",
                                "null"
                              ],
                              "properties": {
                                "transactionID": {
                                  "type": [
                                    "integer",
                                    "null"
                                  ]
                                },
                                "receiver": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "receiverType": {
                                  "type": [
                                    "integer",
                                    "null"
                                  ]
                                },
                                "kmailNumber": {
                                  "type": [
                                    "integer",
                                    "null"
                                  ]
                                },
                                "deliveryStatus": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "readStatus": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "replyStatus": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "deleteBySender": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "deleteByReceiver": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "letterReadTime": {},
                                "letterReplyTime": {},
                                "sender": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "groupFlag": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "replyNotRquiredBySender": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "replyNotRquiredByReceiver": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "groupReceiverList": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "markedBySender": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "markedByReceiver": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "recall": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "senderName": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "receiverName": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "senderUniqueMailID": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "receiverUniqueMailID": {},
                                "displayReceiverType": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              }
                            }
                          },
                          "displayKmailType": {},
                          "selectedKmailType": {},
                          "mailDeliveryStatus": {},
                          "sender": {},
                          "kmailNumber": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "letterID": 7,
                  "value": [
                    {
                      "kmailID": 134,
                      "kmailType": 0,
                      "kmailSubject": "74HB3Pn/dlcrkKAyTettMO7Ae9UkMOkC9P8Fc7Fh22xx8fOSbkhG7EQaFSMDvMRN4HilL5R4Vn0=",
                      "kmailSendDate": "2022-12-24T10:41:48.000+00:00",
                      "priority": 0,
                      "mailServerReferenceID": "baskar1992@kpostindia.com1671878509671",
                      "referenceKmailID": null,
                      "senderLatitde": null,
                      "senderLongitude": null,
                      "note": null,
                      "attachmentFlag": 1,
                      "attachmentPath": null,
                      "kmailTransactionList": [
                        {
                          "transactionID": 351,
                          "receiver": "jitendra@kpostindia.com",
                          "receiverType": 1,
                          "kmailNumber": 7,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "baskar1992@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"baskar1992@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Baskar T",
                          "receiverName": "Jitendra Kumar",
                          "senderUniqueMailID": "<1953515300.2.1671878508719@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Addressed To"
                        },
                        {
                          "transactionID": 352,
                          "receiver": "jksrivatsa@gmail.com",
                          "receiverType": 2,
                          "kmailNumber": 5,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "baskar1992@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"baskar1992@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Baskar T",
                          "receiverName": null,
                          "senderUniqueMailID": "<1953515300.2.1671878508719@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Copy To"
                        },
                        {
                          "transactionID": 353,
                          "receiver": "jksrivatsa@yahoo.com",
                          "receiverType": 3,
                          "kmailNumber": 1,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "baskar1992@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"baskar1992@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Baskar T",
                          "receiverName": null,
                          "senderUniqueMailID": "<1953515300.2.1671878508719@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Confidential Copy To"
                        }
                      ],
                      "displayKmailType": null,
                      "selectedKmailType": null,
                      "mailDeliveryStatus": null,
                      "sender": null,
                      "kmailNumber": 0
                    },
                    {
                      "kmailID": 133,
                      "kmailType": 0,
                      "kmailSubject": "mail from postman 5.0 mail no 6, with attachment",
                      "kmailSendDate": "2022-12-24T10:29:05.000+00:00",
                      "priority": 0,
                      "mailServerReferenceID": "baskar1992@kpostindia.com1671877747311",
                      "referenceKmailID": null,
                      "senderLatitde": null,
                      "senderLongitude": null,
                      "note": null,
                      "attachmentFlag": 1,
                      "attachmentPath": null,
                      "kmailTransactionList": [
                        {
                          "transactionID": 350,
                          "receiver": "jitendra@kpostindia.com",
                          "receiverType": 1,
                          "kmailNumber": 6,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "baskar1992@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"baskar1992@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Baskar T",
                          "receiverName": "Jitendra Kumar",
                          "senderUniqueMailID": "<577385444.2.1671877746296@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Addressed To"
                        }
                      ],
                      "displayKmailType": null,
                      "selectedKmailType": null,
                      "mailDeliveryStatus": null,
                      "sender": null,
                      "kmailNumber": 0
                    },
                    {
                      "kmailID": 5,
                      "kmailType": 0,
                      "kmailSubject": "mail from postman 5.0 mail no 5",
                      "kmailSendDate": "2022-12-24T07:58:11.000+00:00",
                      "priority": 0,
                      "mailServerReferenceID": "baskar1992@kpostindia.com1671868693787",
                      "referenceKmailID": null,
                      "senderLatitde": null,
                      "senderLongitude": null,
                      "note": null,
                      "attachmentFlag": 0,
                      "attachmentPath": null,
                      "kmailTransactionList": [
                        {
                          "transactionID": 5,
                          "receiver": "jitendra@kpostindia.com",
                          "receiverType": 1,
                          "kmailNumber": 5,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "baskar1992@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"baskar1992@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Baskar T",
                          "receiverName": "Jitendra Kumar",
                          "senderUniqueMailID": "<1201535206.3.1671868692173@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Addressed To"
                        }
                      ],
                      "displayKmailType": null,
                      "selectedKmailType": null,
                      "mailDeliveryStatus": null,
                      "sender": null,
                      "kmailNumber": 0
                    },
                    {
                      "kmailID": 4,
                      "kmailType": 0,
                      "kmailSubject": "mail from postman 5.0 mail no 4",
                      "kmailSendDate": "2022-12-24T07:49:23.000+00:00",
                      "priority": 0,
                      "mailServerReferenceID": "baskar1992@kpostindia.com1671868164859",
                      "referenceKmailID": null,
                      "senderLatitde": null,
                      "senderLongitude": null,
                      "note": null,
                      "attachmentFlag": 0,
                      "attachmentPath": null,
                      "kmailTransactionList": [
                        {
                          "transactionID": 4,
                          "receiver": "jitendra@kpostindia.com",
                          "receiverType": 1,
                          "kmailNumber": 4,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "baskar1992@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"baskar1992@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Baskar T",
                          "receiverName": "Jitendra Kumar",
                          "senderUniqueMailID": "<1423207820.1.1671868163672@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Addressed To"
                        }
                      ],
                      "displayKmailType": null,
                      "selectedKmailType": null,
                      "mailDeliveryStatus": null,
                      "sender": null,
                      "kmailNumber": 0
                    },
                    {
                      "kmailID": 3,
                      "kmailType": 0,
                      "kmailSubject": "mail from postman 5.0 mail no 3",
                      "kmailSendDate": "2022-12-24T07:27:42.000+00:00",
                      "priority": 0,
                      "mailServerReferenceID": "baskar1992@kpostindia.com1671866863634",
                      "referenceKmailID": null,
                      "senderLatitde": null,
                      "senderLongitude": null,
                      "note": null,
                      "attachmentFlag": 0,
                      "attachmentPath": null,
                      "kmailTransactionList": [
                        {
                          "transactionID": 3,
                          "receiver": "jitendra@kpostindia.com",
                          "receiverType": 1,
                          "kmailNumber": 3,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "baskar1992@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"baskar1992@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Baskar T",
                          "receiverName": "Jitendra Kumar",
                          "senderUniqueMailID": "<1583087383.1.1671866862925@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Addressed To"
                        }
                      ],
                      "displayKmailType": null,
                      "selectedKmailType": null,
                      "mailDeliveryStatus": null,
                      "sender": null,
                      "kmailNumber": 0
                    },
                    {
                      "kmailID": 2,
                      "kmailType": 0,
                      "kmailSubject": "mail from postman 5.0",
                      "kmailSendDate": "2022-12-24T07:01:44.000+00:00",
                      "priority": 0,
                      "mailServerReferenceID": "jitendra@kpostindia.com1671865305584",
                      "referenceKmailID": null,
                      "senderLatitde": null,
                      "senderLongitude": null,
                      "note": null,
                      "attachmentFlag": 0,
                      "attachmentPath": null,
                      "kmailTransactionList": [
                        {
                          "transactionID": 2,
                          "receiver": "baskar1992@kpostindia.com",
                          "receiverType": 1,
                          "kmailNumber": 2,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "jitendra@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"jitendra@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Jitendra Kumar",
                          "receiverName": "Baskar T",
                          "senderUniqueMailID": "<1723926006.1.1671865304991@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Addressed To"
                        }
                      ],
                      "displayKmailType": null,
                      "selectedKmailType": null,
                      "mailDeliveryStatus": null,
                      "sender": null,
                      "kmailNumber": 0
                    },
                    {
                      "kmailID": 1,
                      "kmailType": 0,
                      "kmailSubject": "hai",
                      "kmailSendDate": "2022-12-23T12:25:07.000+00:00",
                      "priority": 0,
                      "mailServerReferenceID": "jitendra@kpostindia.com1671798309075",
                      "referenceKmailID": null,
                      "senderLatitde": null,
                      "senderLongitude": null,
                      "note": null,
                      "attachmentFlag": 0,
                      "attachmentPath": null,
                      "kmailTransactionList": [
                        {
                          "transactionID": 1,
                          "receiver": "baskar1992@kpostindia.com",
                          "receiverType": 1,
                          "kmailNumber": 1,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "jitendra@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"jitendra@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Jitendra Kumar",
                          "receiverName": "Baskar T",
                          "senderUniqueMailID": "<128320604.1.1671798308409@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Addressed To"
                        }
                      ],
                      "displayKmailType": null,
                      "selectedKmailType": null,
                      "mailDeliveryStatus": null,
                      "sender": null,
                      "kmailNumber": 0
                    }
                  ],
                  "urlPath": "getKmailDashboardMsg",
                  "status": "SUCCESS"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kmailID": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "kmailID": ""
              }
            }
          }
        }
      }
    },
    "/common/getSaluations/": {
      "get": {
        "operationId": "get-common-getSaluations",
        "summary": "GET /common/getSaluations/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R3",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "value": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "saluationID": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "saluation": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "createdDate": {},
                          "createdBy": {}
                        }
                      }
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "saluationID": 1,
                      "saluation": "Hi",
                      "createdDate": null,
                      "createdBy": null
                    },
                    {
                      "saluationID": 2,
                      "saluation": "Hello",
                      "createdDate": null,
                      "createdBy": null
                    }
                  ],
                  "urlPath": "/getsaluations/",
                  "status": "SUCCESS"
                }
              }
            }
          }
        }
      }
    },
    "/common/kmailGroupReadStatus/": {
      "post": {
        "operationId": "post-common-kmailGroupReadStatus",
        "summary": "POST /common/kmailGroupReadStatus/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R53",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kmailID": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "kmailID": 9993
              }
            }
          }
        }
      }
    },
    "/common/knownPostBoxContacts/": {
      "post": {
        "operationId": "post-common-knownPostBoxContacts",
        "summary": "POST /common/knownPostBoxContacts/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R41",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lastFetchTime": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "lastFetchTime": "1695280938000"
              }
            }
          }
        }
      }
    },
    "/common/mailSubjectSelectedContact/": {
      "post": {
        "operationId": "post-common-mailSubjectSelectedContact",
        "summary": "POST /common/mailSubjectSelectedContact/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R6",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "value": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "value": [
                    "hai",
                    "mail from postman 5.0",
                    "mail from postman 5.0 mail no 3",
                    "mail from postman 5.0 mail no 4",
                    "mail from postman 5.0 mail no 5",
                    "mail from postman 5.0 mail no 6, with attachment",
                    "74HB3Pn/dlcrkKAyTettMO7Ae9UkMOkC9P8Fc7Fh22xx8fOSbkhG7EQaFSMDvMRN4HilL5R4Vn0="
                  ],
                  "urlPath": "mailSubjectSelectedContact",
                  "status": "SUCCESS"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selectedContact": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "selectedContact": "jitendra@kpostindia.com"
              }
            }
          }
        }
      }
    },
    "/common/miscellaneousContacts/": {
      "get": {
        "operationId": "get-common-miscellaneousContacts",
        "summary": "GET /common/miscellaneousContacts/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R18",
        "x-method-source": "request-note",
        "x-method-note": "the request cell states GET and documents no payload, so it overrides the Method column (POST)",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "value": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "value": [
                    "premredhat1984@gmail.com",
                    "vijayakumargovindaraja@outlook.com",
                    "cs778@onepl.kpost.in",
                    "ram@amvionlabs.in",
                    "jitendra@kpostindia.com",
                    "jksrivatsa@yahoo.com",
                    "vp22081998@gmail.com",
                    "ysprasad@pioneergroups.co.in",
                    "jksrivatsa@gmail.com",
                    "senthilnathan@pioneergroups.co.in",
                    "cloudsupport@amvionlabs.in",
                    "socanalyst4@amvionlabs.com",
                    "baskar.nov@gmail.com",
                    "kpostredhat2022@gmail.com",
                    "jitendra18101989@gmail.com",
                    "kpostesting@gmail.com"
                  ],
                  "urlPath": "miscellaneousContacts",
                  "status": "SUCCESS"
                }
              }
            }
          }
        }
      }
    },
    "/common/postBoxContacts/": {
      "post": {
        "operationId": "post-common-postBoxContacts",
        "summary": "POST /common/postBoxContacts/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R37",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lastFetchTime": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "lastFetchTime": 1682280626000
              }
            }
          }
        }
      }
    },
    "/common/replyNotReceived/": {
      "post": {
        "operationId": "post-common-replyNotReceived",
        "summary": "POST /common/replyNotReceived/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R9",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "value": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "kmailID": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "kmailType": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "kmailSubject": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "kmailSendDate": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "priority": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "mailServerReferenceID": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "referenceKmailID": {},
                          "senderLatitde": {},
                          "senderLongitude": {},
                          "note": {},
                          "attachmentFlag": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "attachmentPath": {},
                          "kmailTransactionList": {
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": [
                                "object",
                                "null"
                              ],
                              "properties": {
                                "transactionID": {
                                  "type": [
                                    "integer",
                                    "null"
                                  ]
                                },
                                "receiver": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "receiverType": {
                                  "type": [
                                    "integer",
                                    "null"
                                  ]
                                },
                                "kmailNumber": {
                                  "type": [
                                    "integer",
                                    "null"
                                  ]
                                },
                                "deliveryStatus": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "readStatus": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "replyStatus": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "deleteBySender": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "deleteByReceiver": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "letterReadTime": {},
                                "letterReplyTime": {},
                                "sender": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "groupFlag": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "replyNotRquiredBySender": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "replyNotRquiredByReceiver": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "groupReceiverList": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "markedBySender": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "markedByReceiver": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "recall": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "senderName": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "receiverName": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "senderUniqueMailID": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "receiverUniqueMailID": {},
                                "displayReceiverType": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              }
                            }
                          },
                          "displayKmailType": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "selectedKmailType": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "mailDeliveryStatus": {},
                          "sender": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "kmailNumber": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "kmailID": 3,
                      "kmailType": 0,
                      "kmailSubject": "mail from postman 5.0 mail no 3",
                      "kmailSendDate": "2022-12-24T07:27:42.000+00:00",
                      "priority": 0,
                      "mailServerReferenceID": "baskar1992@kpostindia.com1671866863634",
                      "referenceKmailID": null,
                      "senderLatitde": null,
                      "senderLongitude": null,
                      "note": null,
                      "attachmentFlag": 0,
                      "attachmentPath": null,
                      "kmailTransactionList": [
                        {
                          "transactionID": 3,
                          "receiver": "jitendra@kpostindia.com",
                          "receiverType": 1,
                          "kmailNumber": 3,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "baskar1992@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"baskar1992@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Baskar T",
                          "receiverName": "Jitendra Kumar",
                          "senderUniqueMailID": "<1583087383.1.1671866862925@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Addressed To"
                        }
                      ],
                      "displayKmailType": "New",
                      "selectedKmailType": "Sent",
                      "mailDeliveryStatus": null,
                      "sender": "baskar1992@kpostindia.com",
                      "kmailNumber": 3
                    },
                    {
                      "kmailID": 4,
                      "kmailType": 0,
                      "kmailSubject": "mail from postman 5.0 mail no 4",
                      "kmailSendDate": "2022-12-24T07:49:23.000+00:00",
                      "priority": 0,
                      "mailServerReferenceID": "baskar1992@kpostindia.com1671868164859",
                      "referenceKmailID": null,
                      "senderLatitde": null,
                      "senderLongitude": null,
                      "note": null,
                      "attachmentFlag": 0,
                      "attachmentPath": null,
                      "kmailTransactionList": [
                        {
                          "transactionID": 4,
                          "receiver": "jitendra@kpostindia.com",
                          "receiverType": 1,
                          "kmailNumber": 4,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "baskar1992@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"baskar1992@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Baskar T",
                          "receiverName": "Jitendra Kumar",
                          "senderUniqueMailID": "<1423207820.1.1671868163672@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Addressed To"
                        }
                      ],
                      "displayKmailType": "New",
                      "selectedKmailType": "Sent",
                      "mailDeliveryStatus": null,
                      "sender": "baskar1992@kpostindia.com",
                      "kmailNumber": 4
                    },
                    {
                      "kmailID": 5,
                      "kmailType": 0,
                      "kmailSubject": "mail from postman 5.0 mail no 5",
                      "kmailSendDate": "2022-12-24T07:58:11.000+00:00",
                      "priority": 0,
                      "mailServerReferenceID": "baskar1992@kpostindia.com1671868693787",
                      "referenceKmailID": null,
                      "senderLatitde": null,
                      "senderLongitude": null,
                      "note": null,
                      "attachmentFlag": 0,
                      "attachmentPath": null,
                      "kmailTransactionList": [
                        {
                          "transactionID": 5,
                          "receiver": "jitendra@kpostindia.com",
                          "receiverType": 1,
                          "kmailNumber": 5,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "baskar1992@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"baskar1992@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Baskar T",
                          "receiverName": "Jitendra Kumar",
                          "senderUniqueMailID": "<1201535206.3.1671868692173@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Addressed To"
                        }
                      ],
                      "displayKmailType": "New",
                      "selectedKmailType": "Sent",
                      "mailDeliveryStatus": null,
                      "sender": "baskar1992@kpostindia.com",
                      "kmailNumber": 5
                    },
                    {
                      "kmailID": 133,
                      "kmailType": 0,
                      "kmailSubject": "mail from postman 5.0 mail no 6, with attachment",
                      "kmailSendDate": "2022-12-24T10:29:05.000+00:00",
                      "priority": 0,
                      "mailServerReferenceID": "baskar1992@kpostindia.com1671877747311",
                      "referenceKmailID": null,
                      "senderLatitde": null,
                      "senderLongitude": null,
                      "note": null,
                      "attachmentFlag": 1,
                      "attachmentPath": null,
                      "kmailTransactionList": [
                        {
                          "transactionID": 350,
                          "receiver": "jitendra@kpostindia.com",
                          "receiverType": 1,
                          "kmailNumber": 6,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "baskar1992@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"baskar1992@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Baskar T",
                          "receiverName": "Jitendra Kumar",
                          "senderUniqueMailID": "<577385444.2.1671877746296@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Addressed To"
                        }
                      ],
                      "displayKmailType": "New",
                      "selectedKmailType": "Sent",
                      "mailDeliveryStatus": null,
                      "sender": "baskar1992@kpostindia.com",
                      "kmailNumber": 6
                    },
                    {
                      "kmailID": 134,
                      "kmailType": 0,
                      "kmailSubject": "74HB3Pn/dlcrkKAyTettMO7Ae9UkMOkC9P8Fc7Fh22xx8fOSbkhG7EQaFSMDvMRN4HilL5R4Vn0=",
                      "kmailSendDate": "2022-12-24T10:41:48.000+00:00",
                      "priority": 0,
                      "mailServerReferenceID": "baskar1992@kpostindia.com1671878509671",
                      "referenceKmailID": null,
                      "senderLatitde": null,
                      "senderLongitude": null,
                      "note": null,
                      "attachmentFlag": 1,
                      "attachmentPath": null,
                      "kmailTransactionList": [
                        {
                          "transactionID": 351,
                          "receiver": "jitendra@kpostindia.com",
                          "receiverType": 1,
                          "kmailNumber": 7,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "baskar1992@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"baskar1992@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Baskar T",
                          "receiverName": "Jitendra Kumar",
                          "senderUniqueMailID": "<1953515300.2.1671878508719@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Addressed To"
                        },
                        {
                          "transactionID": 352,
                          "receiver": "jksrivatsa@gmail.com",
                          "receiverType": 2,
                          "kmailNumber": 5,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "baskar1992@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"baskar1992@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Baskar T",
                          "receiverName": null,
                          "senderUniqueMailID": "<1953515300.2.1671878508719@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Copy To"
                        },
                        {
                          "transactionID": 353,
                          "receiver": "jksrivatsa@yahoo.com",
                          "receiverType": 3,
                          "kmailNumber": 1,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "baskar1992@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"baskar1992@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Baskar T",
                          "receiverName": null,
                          "senderUniqueMailID": "<1953515300.2.1671878508719@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Confidential Copy To"
                        }
                      ],
                      "displayKmailType": "New",
                      "selectedKmailType": "Sent",
                      "mailDeliveryStatus": null,
                      "sender": "baskar1992@kpostindia.com",
                      "kmailNumber": 7
                    }
                  ],
                  "urlPath": "replyNotReceived",
                  "status": "SUCCESS"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kpostUser": {
                    "type": "string"
                  },
                  "selectedContact": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "kpostUser": "baskar1992@kpostindia.com",
                "selectedContact": "jitendra@kpostindia.com"
              }
            }
          }
        }
      }
    },
    "/common/replyNotRequiredByReceiver/": {
      "post": {
        "operationId": "post-common-replyNotRequiredByReceiver",
        "summary": "POST /common/replyNotRequiredByReceiver/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R12",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "urlPath": "replyNotRequiredByReceiver",
                  "status": "SUCCESS"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selectedContact": {
                    "type": "string"
                  },
                  "kmailID": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "selectedContact": "jitendra@kpostindia.com",
                "kmailID": 3
              }
            }
          }
        }
      }
    },
    "/common/replyNotRequiredBySender/": {
      "post": {
        "operationId": "post-common-replyNotRequiredBySender",
        "summary": "POST /common/replyNotRequiredBySender/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R11",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "urlPath": "replyNotRequiredBySender",
                  "status": "SUCCESS"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selectedContact": {
                    "type": "string"
                  },
                  "kmailID": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "selectedContact": "jitendra@kpostindia.com",
                "kmailID": 3
              }
            }
          }
        }
      }
    },
    "/common/replyNotSent/": {
      "post": {
        "operationId": "post-common-replyNotSent",
        "summary": "POST /common/replyNotSent/",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KMAILAPI:R10",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "value": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "kmailID": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "kmailType": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "kmailSubject": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "kmailSendDate": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "priority": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "mailServerReferenceID": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "referenceKmailID": {},
                          "senderLatitde": {},
                          "senderLongitude": {},
                          "note": {},
                          "attachmentFlag": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "attachmentPath": {},
                          "kmailTransactionList": {
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": [
                                "object",
                                "null"
                              ],
                              "properties": {
                                "transactionID": {
                                  "type": [
                                    "integer",
                                    "null"
                                  ]
                                },
                                "receiver": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "receiverType": {
                                  "type": [
                                    "integer",
                                    "null"
                                  ]
                                },
                                "kmailNumber": {
                                  "type": [
                                    "integer",
                                    "null"
                                  ]
                                },
                                "deliveryStatus": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "readStatus": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "replyStatus": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "deleteBySender": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "deleteByReceiver": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "letterReadTime": {},
                                "letterReplyTime": {},
                                "sender": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "groupFlag": {
                                  "type": [
                                    "boolean",
                                    "null"
                                  ]
                                },
                                "replyNotRquiredBySender": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "replyNotRquiredByReceiver": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "groupReceiverList": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "markedBySender": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "markedByReceiver": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "recall": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "senderName": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "receiverName": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "senderUniqueMailID": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "receiverUniqueMailID": {},
                                "displayReceiverType": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                }
                              }
                            }
                          },
                          "displayKmailType": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "selectedKmailType": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "mailDeliveryStatus": {},
                          "sender": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "kmailNumber": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "value": [
                    {
                      "kmailID": 1,
                      "kmailType": 0,
                      "kmailSubject": "hai",
                      "kmailSendDate": "2022-12-23T12:25:07.000+00:00",
                      "priority": 0,
                      "mailServerReferenceID": "jitendra@kpostindia.com1671798309075",
                      "referenceKmailID": null,
                      "senderLatitde": null,
                      "senderLongitude": null,
                      "note": null,
                      "attachmentFlag": 0,
                      "attachmentPath": null,
                      "kmailTransactionList": [
                        {
                          "transactionID": 1,
                          "receiver": "baskar1992@kpostindia.com",
                          "receiverType": 1,
                          "kmailNumber": 1,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
                          "sender": "jitendra@kpostindia.com",
                          "groupFlag": false,
                          "replyNotRquiredBySender": "N",
                          "replyNotRquiredByReceiver": "N",
                          "groupReceiverList": "[{\"sender\": \"jitendra@kpostindia.com\"}]",
                          "markedBySender": "N",
                          "markedByReceiver": "N",
                          "recall": "N",
                          "senderName": "Jitendra Kumar",
                          "receiverName": "Baskar T",
                          "senderUniqueMailID": "<128320604.1.1671798308409@KPOST.Dlink>",
                          "receiverUniqueMailID": null,
                          "displayReceiverType": "Addressed To"
                        }
                      ],
                      "displayKmailType": "New",
                      "selectedKmailType": "Received",
                      "mailDeliveryStatus": null,
                      "sender": "jitendra@kpostindia.com",
                      "kmailNumber": 1
                    },
                    {
                      "kmailID": 2,
                      "kmailType": 0,
                      "kmailSubject": "mail from postman 5.0",
                      "kmailSendDate": "2022-12-24T07:01:44.000+00:00",
                      "priority": 0,
                      "mailServerReferenceID": "jitendra@kpostindia.com1671865305584",
                      "referenceKmailID": null,
                      "senderLatitde": null,
                      "senderLongitude": null,
                      "note": null,
                      "attachmentFlag": 0,
                      "attachmentPath": null,
                      "kmailTransactionList": [
                        {
                          "transactionID": 2,
                          "receiver": "baskar1992@kpostindia.com",
                          "receiverType": 1,
                          "kmailNumber": 2,
                          "deliveryStatus": "Y",
                          "readStatus": "N",
                          "replyStatus": "N",
                          "deleteBySender": "N",
                          "deleteByReceiver": "N",
                          "letterReadTime": null,
                          "letterReplyTime": null,
[...]
