{
  "openapi": "3.1.0",
  "info": {
    "title": "KPost API",
    "version": "KPOST API (6).xlsx",
    "description": "KPost core API (katchup, kall, kdiary, knews, kword, admin-facing and common routes).\n\nGENERATED from \"KPOST API (6).xlsx\" by scripts/excel-to-contract.cjs — do not edit by hand.\nOnly rows with a real path and a known HTTP method are included; superseded (yellow), duplicate and legacy rows are excluded and listed in contracts/_conversion-report.json.\nSchemas are inferred from the documented examples, so no property is marked required, and the workbook documents no status codes or auth requirements."
  },
  "servers": [
    {
      "url": "https://devapi2.kpostindia.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/admin/addingUserByAdmin/": {
      "post": {
        "operationId": "post-admin-addingUserByAdmin",
        "summary": "POST /admin/addingUserByAdmin/",
        "tags": [
          "Admin"
        ],
        "x-excel-source": "KatchupAPI:R170",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "statusCode": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "urlPath": "addingUserByAdmin",
                  "status": "SUCCESS",
                  "statusCode": 200
                }
              }
            }
          }
        }
      }
    },
    "/admin/createOrRemoveBackupAdmin/": {
      "post": {
        "operationId": "post-admin-createOrRemoveBackupAdmin",
        "summary": "POST /admin/createOrRemoveBackupAdmin/",
        "tags": [
          "Admin"
        ],
        "x-excel-source": "KatchupAPI:R173",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "data": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "statusCode": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "data": "Backup Admin added Successfully",
                  "urlPath": "createOrRemoveBackupAdmin",
                  "status": "SUCCESS",
                  "statusCode": 200
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kpostID": {
                    "type": "string"
                  },
                  "isBackUpAdmin": {
                    "type": "boolean"
                  },
                  "companyID": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "kpostID": "priya@rkveg.kpost.in",
                "isBackUpAdmin": true,
                "companyID": 1
              }
            }
          }
        }
      }
    },
    "/admin/displayNameSuggestion": {
      "post": {
        "operationId": "post-admin-displayNameSuggestion",
        "summary": "POST /admin/displayNameSuggestion",
        "tags": [
          "Admin"
        ],
        "x-excel-source": "KatchupAPI:R206",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyName": {
                    "type": "string"
                  },
                  "designation": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "companyName": "PD Cake Shop",
                "designation": "CEO"
              }
            }
          }
        }
      }
    },
    "/admin/getBankAndCompanyDetails/{companyID}": {
      "get": {
        "operationId": "get-admin-getBankAndCompanyDetails",
        "summary": "GET /admin/getBankAndCompanyDetails/{companyID}",
        "tags": [
          "Admin"
        ],
        "x-excel-source": "KatchupAPI:R204",
        "x-method-source": "request-note",
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/admin/holdOrRelease/": {
      "post": {
        "operationId": "post-admin-holdOrRelease",
        "summary": "POST /admin/holdOrRelease/",
        "tags": [
          "Admin"
        ],
        "x-excel-source": "KatchupAPI:R172",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "statusCode": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "urlPath": "holdOrRelease",
                  "status": "SUCCESS",
                  "statusCode": 200
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kpostID": {
                    "type": "string"
                  },
                  "activeStatus": {
                    "type": "string"
                  },
                  "companyID": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "kpostID": "priyar@rkveg.kpost.in",
                "activeStatus": "yes",
                "companyID": 1
              }
            }
          }
        }
      }
    },
    "/admin/removeCompanyLogo": {
      "post": {
        "operationId": "post-admin-removeCompanyLogo",
        "summary": "POST /admin/removeCompanyLogo",
        "tags": [
          "Admin"
        ],
        "x-excel-source": "KatchupAPI:R179",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "message": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "statusCode": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "message": "Company Logo Removed Successfully",
                  "urlPath": "/removeCompanyLogo/",
                  "status": "SUCCESS",
                  "statusCode": 200
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyID": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "companyID": 1
              }
            }
          }
        }
      }
    },
    "/admin/resetPassword/": {
      "post": {
        "operationId": "post-admin-resetPassword",
        "summary": "POST /admin/resetPassword/",
        "tags": [
          "Admin"
        ],
        "x-excel-source": "KatchupAPI:R171",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "message": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "statusCode": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "message": "Password reset SuccessFully",
                  "urlPath": "resetPassword",
                  "statusCode": 200,
                  "status": "SUCCESS"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kpostID": {
                    "type": "string"
                  },
                  "companyID": {
                    "type": "integer"
                  },
                  "mobileNumber": {
                    "type": "integer"
                  },
                  "countryID": {
                    "type": "integer"
                  },
                  "userType": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "kpostID": "priya@rkveg.kpost.in",
                "companyID": 1,
                "mobileNumber": 9003044562,
                "countryID": 1,
                "userType": "BUSINESS"
              }
            }
          }
        }
      }
    },
    "/admin/terminateUser/": {
      "post": {
        "operationId": "post-admin-terminateUser",
        "summary": "POST /admin/terminateUser/",
        "tags": [
          "Admin"
        ],
        "x-excel-source": "KatchupAPI:R174",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "data": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "statusCode": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "data": "User terminated Successfully",
                  "urlPath": "terminateUser",
                  "status": "SUCCESS",
                  "statusCode": 200
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kpostID": {
                    "type": "string"
                  },
                  "companyID": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "kpostID": "priyar@rkveg.kpost.in",
                "companyID": 1
              }
            }
          }
        }
      }
    },
    "/admin/userManagementDetails/{companyID}": {
      "get": {
        "operationId": "get-admin-userManagementDetails",
        "summary": "GET /admin/userManagementDetails/{companyID}",
        "tags": [
          "Admin"
        ],
        "x-excel-source": "KatchupAPI:R175",
        "x-method-source": "request-note",
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "memberCountDetails": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "totalMembersCount": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "allocatedMembersCount": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "unAllocatedMembersCount": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "addNewMembersCount": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "currentPlan": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "contactsDetails": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "contactID": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "contactName": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "mobileNumber": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "activeStatus": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "referenceName": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "transferDetails": {},
                          "isAdmin": {
                            "type": [
                              "boolean",
                              "null"
                            ]
                          },
                          "isBackUpAdminValue": {
                            "type": [
                              "boolean",
                              "null"
                            ]
                          },
                          "createdDate": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "modifiedDate": {}
                        }
                      }
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "statusCode": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "memberCountDetails": {
                    "totalMembersCount": 6,
                    "allocatedMembersCount": 3,
                    "unAllocatedMembersCount": 1,
                    "addNewMembersCount": 2,
                    "currentPlan": "Free"
                  },
                  "contactsDetails": [
                    {
                      "contactID": "vp@vpveg.kpost.in",
                      "contactName": "Prakash Venkat",
                      "mobileNumber": "8610368086",
                      "activeStatus": "yes",
                      "referenceName": "Marketing Director",
                      "transferDetails": null,
                      "isAdmin": true,
                      "isBackUpAdminValue": false,
                      "createdDate": "2024-10-14 06:22:58",
                      "modifiedDate": null
                    },
                    {
                      "contactID": "ranjith@ransh.kpost.in",
                      "contactName": "Ranjith Kumar",
                      "mobileNumber": "8627857589",
                      "activeStatus": "yes",
                      "referenceName": "Developer manager",
                      "transferDetails": null,
                      "isAdmin": false,
                      "isBackUpAdminValue": true,
                      "createdDate": "2024-10-15 11:38:50",
                      "modifiedDate": "2024-10-15 06:10:22"
                    },
                    {
                      "contactID": "kark@rkveg.kpost.in",
                      "contactName": "Karkuvel Rajan",
                      "mobileNumber": "9630157841",
                      "activeStatus": "yes",
                      "referenceName": "Testing Trainee",
                      "transferDetails": null,
                      "isAdmin": false,
                      "isBackUpAdminValue": false,
                      "createdDate": "2024-10-15 11:10:32",
                      "modifiedDate": null
                    },
                    {
                      "contactID": "sohai@reksoh.kpost.in",
                      "contactName": "Sohail Ahmed",
                      "mobileNumber": "9999999",
                      "activeStatus": "No",
                      "referenceName": "Testing manager",
                      "transferDetails": "[{\"lastName\": \"Ahmed\", \"firstName\": \"Sohail\", \"createdDate\": \"2024-10-15 11:11:55.0\", \"modifiedDate\": \"2024-10-15 11:36:26.581\"}]",
                      "isAdmin": false,
                      "isBackUpAdminValue": false,
                      "createdDate": "2024-10-15 11:11:55",
                      "modifiedDate": "2024-10-15 06:06:27"
                    }
                  ],
                  "urlPath": "userManagementDetails",
                  "status": "SUCCESS",
                  "statusCode": 200
                }
              }
            }
          }
        }
      }
    },
    "/ai/chatResponse": {
      "post": {
        "operationId": "post-ai-chatResponse",
        "summary": "POST /ai/chatResponse",
        "tags": [
          "AI"
        ],
        "x-excel-source": "KatchupAPI:R234",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/ai/messageAssist": {
      "post": {
        "operationId": "post-ai-messageAssist",
        "summary": "POST /ai/messageAssist",
        "tags": [
          "AI"
        ],
        "x-excel-source": "KatchupAPI:R250",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/ai/messages/1": {
      "get": {
        "operationId": "get-messages-1",
        "summary": "GET /ai/messages/1",
        "tags": [
          "AI"
        ],
        "x-excel-source": "KatchupAPI:R236",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/ai/sessions": {
      "get": {
        "operationId": "get-ai-sessions",
        "summary": "GET /ai/sessions",
        "tags": [
          "AI"
        ],
        "x-excel-source": "KatchupAPI:R235",
        "x-method-source": "request-note",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/common/downloadCompanyLogo/{companyID}": {
      "get": {
        "operationId": "get-common-downloadCompanyLogo",
        "summary": "GET /common/downloadCompanyLogo/{companyID}",
        "tags": [
          "Admin"
        ],
        "x-excel-source": "KatchupAPI:R178",
        "x-method-source": "request-note",
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/common/updateCompanyLogo": {
      "post": {
        "operationId": "post-common-updateCompanyLogo",
        "summary": "POST /common/updateCompanyLogo",
        "tags": [
          "Admin"
        ],
        "x-excel-source": "KatchupAPI:R177",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "message": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "statusCode": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "message": "Company Logo Updated Successfully",
                  "urlPath": "/updateCompanyLogo/",
                  "status": "SUCCESS",
                  "statusCode": 200
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyID": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "companyID": 1
              }
            }
          }
        }
      }
    },
    "/dairySchedule/addparticipants": {
      "post": {
        "operationId": "post-dairySchedule-addparticipants",
        "summary": "POST /dairySchedule/addparticipants",
        "tags": [
          "KDIARY- Schedule"
        ],
        "x-excel-source": "KDIARY:R11",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "eventID": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "participants": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "participant": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "userType": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "eventID": 39,
                  "participants": [
                    {
                      "participant": "samaranpkm@kpostmalaysia.com",
                      "userType": "PERSONAL"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dairySchedule/createEvent": {
      "post": {
        "operationId": "post-dairySchedule-createEvent",
        "summary": "POST /dairySchedule/createEvent",
        "tags": [
          "KDIARY- Schedule"
        ],
        "x-excel-source": "KDIARY:R5",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/dairySchedule/createSchedule": {
      "post": {
        "operationId": "post-dairySchedule-createSchedule",
        "summary": "POST /dairySchedule/createSchedule",
        "tags": [
          "KDIARY- Schedule"
        ],
        "x-excel-source": "KDIARY:R3",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "kallSession": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "kallMode": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "meetingLink": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "description": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "title": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "priority": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "scheduleStartDateAndTime": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "scheduleEndDateAndTime": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "isReminder": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    },
                    "isKoolKall": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    },
                    "snoozeDetails": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "participants": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "participant": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "userType": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "kallSession": "Koolkallsession145d04",
                  "kallMode": 0,
                  "meetingLink": "KoolKall2bd821c",
                  "description": "Team meeting to discuss project status",
                  "title": "Project Status Meeting",
                  "priority": 1,
                  "scheduleStartDateAndTime": "2024-06-17T10:00:00",
                  "scheduleEndDateAndTime": "2024-06-17T11:00:00",
                  "isReminder": true,
                  "isKoolKall": false,
                  "snoozeDetails": "5 minutes before",
                  "participants": [
                    {
                      "participant": "virat@kpost.in",
                      "userType": "Personal"
                    },
                    {
                      "participant": "rajan@kpost.in",
                      "userType": "Personal"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dairySchedule/deleteEvent": {
      "post": {
        "operationId": "post-dairySchedule-deleteEvent",
        "summary": "POST /dairySchedule/deleteEvent",
        "tags": [
          "KDIARY- Schedule"
        ],
        "x-excel-source": "KDIARY:R10",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "eventID": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "eventID": 38
                }
              }
            }
          }
        }
      }
    },
    "/dairySchedule/editReport": {
      "post": {
        "operationId": "post-dairySchedule-editReport",
        "summary": "POST /dairySchedule/editReport",
        "tags": [
          "KDIARY- Report"
        ],
        "x-excel-source": "KDIARY:R14",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "id": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "taskReport": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "id": 1,
                  "taskReport": "Updated KMail dashboard, forward mail reference implementation, API testing, and bug fixes."
                }
              }
            }
          }
        }
      }
    },
    "/dairySchedule/editScheduleEvent": {
      "post": {
        "operationId": "post-dairySchedule-editScheduleEvent",
        "summary": "POST /dairySchedule/editScheduleEvent",
        "tags": [
          "KDIARY- Report"
        ],
        "x-excel-source": "KDIARY:R16",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "eventID": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "kallMode": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "description": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "title": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "priority": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "scheduleStartDateAndTime": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "scheduleEndDateAndTime": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "participants": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "participant": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "userType": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "eventID": 340,
                  "kallMode": 1,
                  "description": "Team meeting to discuss project status Edited",
                  "title": "Project Status Meeting Edited",
                  "priority": 1,
                  "scheduleStartDateAndTime": "2026-06-15T13:05:00",
                  "scheduleEndDateAndTime": "2026-06-15T14:05:00",
                  "participants": [
                    {
                      "participant": "virat@kpost.in",
                      "userType": "Personal"
                    },
                    {
                      "participant": "rajan@kpost.in",
                      "userType": "Personal"
                    },
                    {
                      "participant": "isagiyoichi@kpost.in",
                      "userType": "Personal"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dairySchedule/getEventDate": {
      "post": {
        "operationId": "post-dairySchedule-getEventDate",
        "summary": "POST /dairySchedule/getEventDate",
        "tags": [
          "KDIARY- Schedule"
        ],
        "x-excel-source": "KDIARY:R8",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "eventIds": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      }
                    }
                  }
                },
                "example": {
                  "eventIds": [
                    39
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/dairySchedule/getEvents": {
      "get": {
        "operationId": "get-dairySchedule-getEvents",
        "summary": "GET /dairySchedule/getEvents",
        "tags": [
          "KDIARY- Schedule"
        ],
        "x-excel-source": "KDIARY:R7",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/dairySchedule/getEventSelectedDate": {
      "post": {
        "operationId": "post-dairySchedule-getEventSelectedDate",
        "summary": "POST /dairySchedule/getEventSelectedDate",
        "tags": [
          "KDIARY- Schedule"
        ],
        "x-excel-source": "KDIARY:R9",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "scheduleStartDateAndTime": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "scheduleEndDateAndTime": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "scheduleStartDateAndTime": "2026-04-16T13:25:00",
                  "scheduleEndDateAndTime": "2026-04-30T13:25:00"
                }
              }
            }
          }
        }
      }
    },
    "/dairySchedule/getTodayReport": {
      "get": {
        "operationId": "get-dairySchedule-getTodayReport",
        "summary": "GET /dairySchedule/getTodayReport",
        "tags": [
          "KDIARY- Report"
        ],
        "x-excel-source": "KDIARY:R15",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/dairySchedule/getTodaySchedules": {
      "get": {
        "operationId": "get-dairySchedule-getTodaySchedules",
        "summary": "GET /dairySchedule/getTodaySchedules",
        "tags": [
          "KDIARY- Schedule"
        ],
        "x-excel-source": "KDIARY:R4",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/dairySchedule/saveReport": {
      "post": {
        "operationId": "post-dairySchedule-saveReport",
        "summary": "POST /dairySchedule/saveReport",
        "tags": [
          "KDIARY- Report"
        ],
        "x-excel-source": "KDIARY:R13",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "taskReport": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "taskReport": "Completed KMail dashboard changes, forward mail reference implementation, and API testing."
                }
              }
            }
          }
        }
      }
    },
    "/dairySchedule/updateEvent": {
      "post": {
        "operationId": "post-dairySchedule-updateEvent",
        "summary": "POST /dairySchedule/updateEvent",
        "tags": [
          "KDIARY- Schedule"
        ],
        "x-excel-source": "KDIARY:R6",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "eventID": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "repeat": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    },
                    "weekly": {
                      "type": [
                        "boolean",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "eventID": 38,
                  "repeat": true,
                  "weekly": true
                }
              }
            }
          }
        }
      }
    },
    "/dairySchedule/updateScheduleRemarks": {
      "post": {
        "operationId": "post-dairySchedule-updateScheduleRemarks",
        "summary": "POST /dairySchedule/updateScheduleRemarks",
        "tags": [
          "KDIARY- Schedule"
        ],
        "x-excel-source": "KDIARY:R12",
        "x-method-source": "method-column",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "eventIds": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "integer",
                          "null"
                        ]
                      }
                    },
                    "remarks": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "remarksDescription": {
                      "type": [
                        "string",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "eventIds": [
                    39
                  ],
                  "remarks": 1,
                  "remarksDescription": "i completed the work"
                }
              }
            }
          }
        }
      }
    },
    "/delete?presentationId={presentationId}": {
      "get": {
        "operationId": "get-deletepresentationIdpresentationId",
        "summary": "GET /delete?presentationId={presentationId}",
        "tags": [
          "KPresentation"
        ],
        "x-excel-source": "KatchupAPI:R247",
        "x-method-source": "request-note",
        "parameters": [
          {
            "name": "presentationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/generalSetting/changeTheme": {
      "post": {
        "operationId": "post-generalSetting-changeTheme",
        "summary": "POST /generalSetting/changeTheme",
        "tags": [
          "General Setting"
        ],
        "x-excel-source": "KatchupAPI:R223",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "colourPalette": {
                    "type": "string"
                  },
                  "nightModeEnable": {
                    "type": "integer"
                  },
                  "useLocalSunset&Sunrise": {
                    "type": "integer"
                  },
                  "syncwithDeviceSetting": {
                    "type": "integer"
                  },
                  "scheduleTiming": {
                    "type": "string"
                  },
                  "kpostLayoutTheme": {
                    "type": "string"
                  },
                  "katchupChatStyle": {
                    "type": "string"
                  },
                  "katchupChatTheme": {
                    "type": "string"
                  },
                  "katchupChatBackgroundThemeWallpaper": {
                    "type": "object",
                    "properties": {
                      "default": {
                        "type": "boolean"
                      },
                      "color": {},
                      "image": {}
                    }
                  }
                }
              },
              "example": {
                "colourPalette": "#0001",
                "nightModeEnable": 1,
                "useLocalSunset&Sunrise": 0,
                "syncwithDeviceSetting": 0,
                "scheduleTiming": "HH ::RR :: MM",
                "kpostLayoutTheme": "purple",
                "katchupChatStyle": "bubble",
                "katchupChatTheme": "sunset",
                "katchupChatBackgroundThemeWallpaper": {
                  "default": true,
                  "color": null,
                  "image": null
                }
              }
            }
          }
        }
      }
    },
    "/generalSetting/fontSetting": {
      "post": {
        "operationId": "post-generalSetting-fontSetting",
        "summary": "POST /generalSetting/fontSetting",
        "tags": [
          "General Setting"
        ],
        "x-excel-source": "KatchupAPI:R221",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fontSize": {
                    "type": "string"
                  },
                  "fontStyle": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "fontSize": "small",
                "fontStyle": "Helvetica"
              }
            }
          }
        }
      }
    },
    "/generalSetting/getAllNotification": {
      "get": {
        "operationId": "get-generalSetting-getAllNotification",
        "summary": "GET /generalSetting/getAllNotification",
        "tags": [
          "General Setting"
        ],
        "x-excel-source": "KatchupAPI:R227",
        "x-method-source": "request-note",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/generalSetting/getPersonalize": {
      "get": {
        "operationId": "get-generalSetting-getPersonalize",
        "summary": "GET /generalSetting/getPersonalize",
        "tags": [
          "General Setting"
        ],
        "x-excel-source": "KatchupAPI:R222",
        "x-method-source": "request-note",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/generalSetting/kallNotification": {
      "post": {
        "operationId": "post-generalSetting-kallNotification",
        "summary": "POST /generalSetting/kallNotification",
        "tags": [
          "General Setting"
        ],
        "x-excel-source": "KatchupAPI:R226",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/generalSetting/katchupNotification": {
      "post": {
        "operationId": "post-generalSetting-katchupNotification",
        "summary": "POST /generalSetting/katchupNotification",
        "tags": [
          "General Setting"
        ],
        "x-excel-source": "KatchupAPI:R224",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/generalSetting/kmailNotification": {
      "post": {
        "operationId": "post-generalSetting-kmailNotification",
        "summary": "POST /generalSetting/kmailNotification",
        "tags": [
          "General Setting"
        ],
        "x-excel-source": "KatchupAPI:R225",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/kmail5/common/getKmailDashboardMsg/": {
      "post": {
        "operationId": "getKmailDashboardMsg",
        "summary": "getKmailDashboardMsg",
        "tags": [
          "dashboard"
        ],
        "x-excel-source": "KatchupAPI:R22",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "kmail": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "transactionID": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "receiver": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "receiverType": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "kmailNumber": {
                            "type": [
                              "integer",
                              "null"
                            ]
                          },
                          "deliveryStatus": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "readStatus": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "replyStatus": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "deleteBySender": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "deleteByReceiver": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "letterReadTime": {},
                          "letterReplyTime": {},
                          "sender": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "groupFlag": {
                            "type": [
                              "boolean",
                              "null"
                            ]
                          },
                          "replyNotRquiredBySender": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "replyNotRquiredByReceiver": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "groupReceiverList": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "markedBySender": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "markedByReceiver": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "recall": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "senderName": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "receiverName": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "senderUniqueMailID": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "receiverUniqueMailID": {},
                          "displayReceiverType": {
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "displayKmailType": {},
                    "selectedKmailType": {},
                    "mailDeliveryStatus": {},
                    "sender": {},
                    "kmailNumber": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "kmail": [
                    {
                      "transactionID": 418,
                      "receiver": "baskar1992@kpostindia.com",
                      "receiverType": 1,
                      "kmailNumber": 1,
                      "deliveryStatus": "Y",
                      "readStatus": "N",
                      "replyStatus": "N",
                      "deleteBySender": "N",
                      "deleteByReceiver": "N",
                      "letterReadTime": null,
                      "letterReplyTime": null,
                      "sender": "karkuvelrajan@kpostindia.com",
                      "groupFlag": false,
                      "replyNotRquiredBySender": "N",
                      "replyNotRquiredByReceiver": "N",
                      "groupReceiverList": "[{\"sender\": \"karkuvelrajan@kpostindia.com\"}]",
                      "markedBySender": "N",
                      "markedByReceiver": "N",
                      "recall": "N",
                      "senderName": "karkuvel rajan",
                      "receiverName": "Baskar Thambidurai",
                      "senderUniqueMailID": "<1873379804.245.1677304479260@ip-10-0-1-137.ap-south-1.compute.internal>",
                      "receiverUniqueMailID": null,
                      "displayReceiverType": "Addressed To"
                    }
                  ],
                  "displayKmailType": null,
                  "selectedKmailType": null,
                  "mailDeliveryStatus": null,
                  "sender": null,
                  "kmailNumber": 0
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kmailID": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "kmailID": ""
              }
            }
          }
        }
      }
    },
    "/kmail5/readMail/getKmailDetailsUsingKmailID/": {
      "post": {
        "operationId": "post-readMail-getKmailDetailsUsingKmailID",
        "summary": "POST /kmail5/readMail/getKmailDetailsUsingKmailID/",
        "tags": [
          "KMAIL READMAIL"
        ],
        "x-excel-source": "KatchupAPI:R133",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kmailIDs": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              },
              "example": {
                "kmailIDs": [
                  4263,
                  6248
                ]
              }
            }
          }
        }
      }
    },
    "/kmail5/v2/kmailData/getKloudUsedData": {
      "get": {
        "operationId": "get-kmailData-getKloudUsedData",
        "summary": "GET /kmail5/v2/kmailData/getKloudUsedData",
        "tags": [
          "Kloud"
        ],
        "x-excel-source": "KatchupAPI:R154",
        "x-method-source": "request-note",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/kmail5/v2/readMail/downloadODAttachment": {
      "get": {
        "operationId": "get-readMail-downloadODAttachment",
        "summary": "GET /kmail5/v2/readMail/downloadODAttachment",
        "tags": [
          "Group"
        ],
        "x-excel-source": "KatchupAPI:R181",
        "x-method-source": "request-note",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      },
      "post": {
        "operationId": "post-readMail-downloadODAttachment",
        "summary": "POST /kmail5/v2/readMail/downloadODAttachment",
        "tags": [
          "KMail"
        ],
        "x-excel-source": "KatchupAPI:R180",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "kmailID": {
                    "type": "integer"
                  },
                  "kmailNumber": {
                    "type": "integer"
                  },
                  "kmailType": {
                    "type": "string"
                  },
                  "groupFlag": {
                    "type": "boolean"
                  },
                  "targetFileName": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "kmailID": 14574,
                "kmailNumber": 375,
                "kmailType": "sent",
                "groupFlag": false,
                "targetFileName": "file_example_AVI_1920_2_3MG.avi"
              }
            }
          }
        }
      }
    },
    "/kmail5/v2/readMail/getCopiesInfo/{kmailID}": {
      "get": {
        "operationId": "get-readMail-getCopiesInfo",
        "summary": "GET /kmail5/v2/readMail/getCopiesInfo/{kmailID}",
        "tags": [
          "Kmail"
        ],
        "x-excel-source": "KatchupAPI:R153",
        "x-method-source": "request-note",
        "parameters": [
          {
            "name": "kmailID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/kmail5/v2/sentMail/postMail/": {
      "post": {
        "operationId": "post-sentMail-postMail",
        "summary": "POST /kmail5/v2/sentMail/postMail/",
        "tags": [
          "kmail SENTMAIL"
        ],
        "x-excel-source": "KatchupAPI:R134",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "toAddress": {
                    "type": "string"
                  },
                  "kmailSubject": {
                    "type": "string"
                  },
                  "referenceKmailID": {},
                  "saluation": {
                    "type": "string"
                  },
                  "saluationName": {
                    "type": "string"
                  },
                  "kmailContent": {
                    "type": "string"
                  },
                  "groupFlag": {
                    "type": "boolean"
                  },
                  "groupReceiverList": {},
                  "kmailSendDate": {
                    "type": "integer"
                  },
                  "senderLatitde": {
                    "type": "number"
                  },
                  "senderLongitude": {
                    "type": "number"
                  },
                  "kmailType": {
                    "type": "integer"
                  },
                  "forwardList": {},
                  "revealSource": {
                    "type": "boolean"
                  },
                  "selectedMembers": {
                    "type": "string"
                  },
                  "priority": {
                    "type": "integer"
                  },
                  "attachmentFlag": {
                    "type": "integer"
                  },
                  "originalKmailID": {},
                  "forwardNote": {
                    "type": "string"
                  },
                  "forwardRevealDetails": {
                    "type": "object",
                    "properties": {
                      "fromAddress": {
                        "type": "string"
                      },
                      "toAddress": {
                        "type": "string"
                      },
                      "ccList": {
                        "type": "array",
                        "items": {}
                      },
                      "sendDate": {
                        "type": "string"
                      }
                    }
                  },
                  "forwardAttachmentLists": {
                    "type": "array",
                    "items": {}
                  },
                  "ccList": {
                    "type": "array",
                    "items": {}
                  },
                  "bccList": {
                    "type": "array",
                    "items": {}
                  },
                  "attachmentCaption": {
                    "type": "string"
                  },
                  "attachmentUuid": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "toAddress": "rajan@kpost.in",
                "kmailSubject": "win over Indonesian Fredy Setiawan. postman new concept Implemented with attachment",
                "referenceKmailID": null,
                "saluation": "Hello",
                "saluationName": "Rajan",
                "kmailContent": "took his career tally to 14 World Championship medals, which includes 6 gold, 3 silver, 5 bronze in all categories.",
                "groupFlag": false,
                "groupReceiverList": null,
                "kmailSendDate": 1710324340000,
                "senderLatitde": 13.0476875,
                "senderLongitude": 80.2655737,
                "kmailType": 0,
                "forwardList": null,
                "revealSource": false,
                "selectedMembers": "N",
                "priority": 2,
                "attachmentFlag": 1,
                "originalKmailID": null,
                "forwardNote": "forward note",
                "forwardRevealDetails": {
                  "fromAddress": "",
                  "toAddress": "",
                  "ccList": [],
                  "sendDate": ""
                },
                "forwardAttachmentLists": [],
                "ccList": [],
                "bccList": [],
                "attachmentCaption": "[{\"fileName\":\"downloaded_file_1732703266727_image.png\",\"caption\":\"caption cheking hi hi hi checking \"}]",
                "attachmentUuid": [
                  "0eca760e-f8f3-4bce-82c4-cca74880d6b3",
                  "5b0bf853-a970-47bd-8f32-5d5bdb225435",
                  "64d646c2-9511-4fb1-8051-0c031b48e40c"
                ]
              }
            }
          }
        }
      }
    },
    "/kmail5/v2/translator/translation/": {
      "post": {
        "operationId": "post-translator-translation",
        "summary": "POST /kmail5/v2/translator/translation/",
        "x-excel-source": "KatchupAPI:R71",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "data": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "langFrom": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "langTo": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "msgToTranslate": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "msgAfterTranslation": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "msgTranslatedLanguage": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "urlPath": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "statusCode": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "data": {
                    "langFrom": "ta",
                    "langTo": "zu",
                    "msgToTranslate": "எப்படி இருக்கிறீர்கள்",
                    "msgAfterTranslation": "unjani",
                    "msgTranslatedLanguage": "Zulu"
                  },
                  "urlPath": "translation",
                  "status": "SUCCESS",
                  "statusCode": 200
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "langTo": {
                    "type": "string"
                  },
                  "msgToTranslate": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "langTo": "hi",
                "msgToTranslate": "hi how are you"
              }
            }
          }
        }
      }
    },
    "/kpresentation/create": {
      "post": {
        "operationId": "post-kpresentation-create",
        "summary": "POST /kpresentation/create",
        "tags": [
          "KPresentation"
        ],
        "x-excel-source": "KatchupAPI:R243",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "titleOfPresentation": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "topic": {
                    "type": "string"
                  },
                  "subTopic": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "titleOfPresentation": "My Presentation",
                "subject": "AI",
                "topic": "Technology",
                "subTopic": "Machine Learning"
              }
            }
          }
        }
      }
    },
    "/kpresentation/presentations": {
      "get": {
        "operationId": "get-kpresentation-presentations",
        "summary": "GET /kpresentation/presentations",
        "tags": [
          "KPresentation"
        ],
        "x-excel-source": "KatchupAPI:R245",
        "x-method-source": "request-note",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/kpresentation/presentations/{presentationId}": {
      "get": {
        "operationId": "get-kpresentation-presentations-246",
        "summary": "GET /kpresentation/presentations/{presentationId}",
        "tags": [
          "KPresentation"
        ],
        "x-excel-source": "KatchupAPI:R246",
        "x-method-source": "request-note",
        "parameters": [
          {
            "name": "presentationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/kpresentation/savePresentation": {
      "post": {
        "operationId": "post-kpresentation-savePresentation",
        "summary": "POST /kpresentation/savePresentation",
        "tags": [
          "KPresentation"
        ],
        "x-excel-source": "KatchupAPI:R244",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "presentationTitle": {
                    "type": "string"
                  },
                  "slides": {
                    "type": "string"
                  },
                  "presentationId": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "presentationTitle": "Working With AI",
                "slides": "This is the document content...",
                "presentationId": 10
              }
            }
          }
        }
      }
    },
    "/kword/create": {
      "post": {
        "operationId": "post-kword-create",
        "summary": "POST /kword/create",
        "tags": [
          "Kword"
        ],
        "x-excel-source": "KatchupAPI:R237",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/kword/delete?docId={docId}": {
      "get": {
        "operationId": "get-kword-deletedocIddocId",
        "summary": "GET /kword/delete?docId={docId}",
        "tags": [
          "Kword"
        ],
        "x-excel-source": "KatchupAPI:R241",
        "x-method-source": "request-note",
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/kword/deleteHeading": {
      "post": {
        "operationId": "post-kword-deleteHeading",
        "summary": "POST /kword/deleteHeading",
        "tags": [
          "Kword"
        ],
        "x-excel-source": "KatchupAPI:R268",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "docId": {
                    "type": "string"
                  },
                  "headingId": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "docId": "ef8cf98b-fa01-4ca8-aadc-6981a2a9ef8a",
                "headingId": 1
              }
            }
          }
        }
      }
    },
    "/kword/documents/": {
      "get": {
        "operationId": "get-kword-documents",
        "summary": "GET /kword/documents/",
        "tags": [
          "Kword"
        ],
        "x-excel-source": "KatchupAPI:R239",
        "x-method-source": "request-note",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/kword/documents/{docId}": {
      "get": {
        "operationId": "get-kword-documents-240",
        "summary": "GET /kword/documents/{docId}",
        "tags": [
          "Kword"
        ],
        "x-excel-source": "KatchupAPI:R240",
        "x-method-source": "request-note",
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/kword/exitDocument/{docId}": {
      "get": {
        "operationId": "get-kword-exitDocument",
        "summary": "GET /kword/exitDocument/{docId}",
        "tags": [
          "Kword"
        ],
        "x-excel-source": "KatchupAPI:R263",
        "x-method-source": "request-note",
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/kword/getAccessActivity/{docId}": {
      "get": {
        "operationId": "get-kword-getAccessActivity",
        "summary": "GET /kword/getAccessActivity/{docId}",
        "tags": [
          "Kword"
        ],
        "x-excel-source": "KatchupAPI:R264",
        "x-method-source": "request-note",
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/kword/getAllRevision/{docId}": {
      "get": {
        "operationId": "get-kword-getAllRevision",
        "summary": "GET /kword/getAllRevision/{docId}",
        "tags": [
          "Kword"
        ],
        "x-excel-source": "KatchupAPI:R265",
        "x-method-source": "request-note",
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/kword/isConvertToKad": {
      "post": {
        "operationId": "post-kword-isConvertToKad",
        "summary": "POST /kword/isConvertToKad",
        "tags": [
          "Kword"
        ],
        "x-excel-source": "KatchupAPI:R267",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "docId": {
                    "type": "string"
                  },
                  "convertToKad": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "docId": "97b4f0c7-4892-4373-afee-4c8c117d8686",
                "convertToKad": true
              }
            }
          }
        }
      }
    },
    "/kword/joinDocument": {
      "post": {
        "operationId": "post-kword-joinDocument",
        "summary": "POST /kword/joinDocument",
        "tags": [
          "Kword"
        ],
        "x-excel-source": "KatchupAPI:R262",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "docId": {
                    "type": "string"
                  },
                  "kpostId": {
                    "type": "string"
                  },
                  "deviceInfo": {
                    "type": "object",
                    "properties": {
                      "browser": {
                        "type": "string"
                      },
                      "os": {
                        "type": "string"
                      },
                      "deviceType": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "docId": "9e015441-c91a-4a04-8636-286a002fe70d",
                "kpostId": "dustin@kpostindia.com",
                "deviceInfo": {
                  "browser": "Chrome",
                  "os": "Windows",
                  "deviceType": "desktop"
                }
              }
            }
          }
        }
      }
    },
    "/kword/presence/{docId}": {
      "get": {
        "operationId": "get-kword-presence",
        "summary": "GET /kword/presence/{docId}",
        "tags": [
          "Kword"
        ],
        "x-excel-source": "KatchupAPI:R261",
        "x-method-source": "request-note",
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        }
      }
    },
    "/kword/saveContent": {
      "post": {
        "operationId": "post-kword-saveContent",
        "summary": "POST /kword/saveContent",
        "tags": [
          "Kword"
        ],
        "x-excel-source": "KatchupAPI:R238",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "docTitle": {
                    "type": "string"
                  },
                  "compose": {
                    "type": "string"
                  },
                  "docId": {
                    "type": "integer"
                  }
                }
              },
              "example": {
                "docTitle": "Working With AI",
                "compose": "This is the document content...",
                "docId": 1
              }
            }
          }
        }
      }
    },
    "/kword/share": {
      "post": {
        "operationId": "post-kword-share",
        "summary": "POST /kword/share",
        "tags": [
          "Kword"
        ],
        "x-excel-source": "KatchupAPI:R242",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "docId": {
                    "type": "string"
                  },
                  "kWordDocshares": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "kpostId": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string"
                        },
                        "validUpto": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "docId": "046cea3f-c7b3-477e-b9ca-62ea568945e0",
                "kWordDocshares": [
                  {
                    "kpostId": "dustin@kpostindia.com",
                    "role": "editor",
                    "validUpto": 1787875200000
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/kword/update": {
      "post": {
        "operationId": "post-kword-update",
        "summary": "POST /kword/update",
        "tags": [
          "Kword"
        ],
        "x-excel-source": "KatchupAPI:R266",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "docId": {
                    "type": "string"
                  },
                  "heading": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "topic": {
                          "type": "string"
                        },
                        "children": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "topic": {
                                "type": "string"
                              },
                              "children": {
                                "type": "array",
                                "items": {}
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "docId": "ef8cf98b-fa01-4ca8-aadc-6981a2a9ef8a",
                "heading": [
                  {
                    "topic": "Introduction",
                    "children": [
                      {
                        "topic": "Overview",
                        "children": []
                      }
                    ]
                  },
                  {
                    "topic": "Conclusion",
                    "children": []
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/metaDee/aiMessage": {
      "post": {
        "operationId": "post-metaDee-aiMessage",
        "summary": "POST /metaDee/aiMessage",
        "tags": [
          "Integration"
        ],
        "x-excel-source": "KatchupAPI:R82",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "Documented sample response",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "data": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "response": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "code": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "message": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "status": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                },
                "example": {
                  "data": {
                    "response": "Subject: Meeting Confirmation\n\nDear [Name],\n\nI hope this email finds you well. I am writing to confirm our scheduled meeting, which is set to take place on [Date] at [Time]. \n\nI appreciate your prompt response and I am looking forward to meeting with you to discuss [meeting topic/subject]. During our meeting, we will dive into [specific agenda items/topics] and collaborate on [goals/objectives]. \n\nPlease let me know if there are any changes or if you have any specific topics you would like to add to the agenda. It is important for us to make the most of our time together.\n\nIf there is anything you would like to prepare or any documents you would like to share prior to the meeting, please feel free to send them my way.\n\nOnce again, thank you for scheduling this meeting. I am confident that our discussion will be productive and beneficial for all involved.\n\nLooking forward to seeing you soon.\n\nBest regards,\n[Your Name]"
                  },
                  "code": 200,
                  "message": "content generated successfully",
                  "status": 1
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  },
                  "requestType": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "content": "Hi How are You",
                "requestType": "reply"
              }
            }
          }
        }
      }
    },
    "/redbus/availabletrips/": {
      "post": {
        "operationId": "post-redbus-availabletrips",
        "summary": "POST /redbus/availabletrips/",
        "tags": [
          "Integration"
        ],
        "x-excel-source": "KatchupAPI:R159",
        "x-method-source": "payload-rule",
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceCityID": {
                    "type": "string"
                  },
                  "destinationCityID": {
                    "type": "integer"
                  },
                  "travelDate": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "sourceCityID": "102",
                "destinationCityID": 104,
                "travelDate": "2024-08-15"
              }
            }
          }
        }
      }
    },
    "/redbus/blockTicket/{kpostId}": {
      "post": {
        "operationId": "post-redbus-blockTicket",
        "summary": "POST /redbus/blockTicket/{kpostId}",
        "tags": [
          "Integration"
        ],
        "x-excel-source": "KatchupAPI:R162",
        "x-method-source": "payload-rule",
        "parameters": [
          {
            "name": "kpostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No response documented in the workbook"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "availableTripId": {
                    "type": "string"
                  },
                  "boardingPointId": {
                    "type": "integer"
                  },
                  "destination": {
                    "type": "integer"
                  },
                  "inventoryItems": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fare": {
                          "type": "integer"
                        },
                        "ladiesSeat": {
                          "type": "boolean"
                        },
                        "passenger": {
                          "type": "object",
                          "properties": {
[...]
